[2016-11-08 00:56] ctaggart opened #1 "GetVisualStudioVersion failing"
I'm trying this out and this is the first issue I've run into. It doesn't seem to detect my Visual Studio install.
[code]

Looks to be blowing up here:
https://github.com/mono/CppSharp/blob/master/src/Core/Toolchains/MSVCToolchain.cs#L115

Vanilla update 3:
![image](https://cloud.githubusercontent.com/assets/80104/20082477/f6a03096-a50a-11e6-8f14-e6681874c52b.png)

[2016-11-08 03:12] ctaggart commented on #1
This doesn't work with Visual Studio 2010 Shell installed. That was installed with SSMS 2014. I've since upgraded to SSMS 2016 an no longer need it. I've uninstalled it and now am onto the next dependency.

[2016-11-08 03:12] #1 closed

[2016-11-08 03:52] ctaggart opened #2 "error in glib.h g_memdup with VS2013 installed"
When I try to `--compile --dll`, it gives a bunch of errors about line 135 in glib.h which ends ups being:
[code]
It is picking up VS 2013 as the default dependency instead of VS 2015. My hunch is that stuff works with only VS 2015. I'll investigate a bit further.

[code]

[2016-11-08 04:16] ctaggart commented on #2
Uninstalled VS 2013 and that error is now gone and onto #3.

[2016-11-08 04:20] ctaggart opened #3 "compile dll complaining about main.c syntax error"
[code]

It is complaining about `mono_m2n_context_t ctx = {};` in `main.c` below. I'm a little confused why main.c is even included. I'll look later. Time for dinner.

[code]

[2016-11-08 04:33] ctaggart commented on #3
`--verbose` provides some more details. Not sure if helpful.

[code]

[2016-11-16 20:21] tritao commented on #3
Sorry for the delay, completely missed notifications for this issue.

I think there's two issues here:
* MSVC does not like the syntax for the empty initialization of the object in `main.c`, will change this.
* `main.c` should not be included here, it was just an earlier attempt to facilitate bootstrapping of user projects

Will fix these issues.

[2016-11-16 20:24] tritao commented on #2
Re-opening since I think we should improve this.

MSVC C compiler is pretty finnicky, I think we can compile this code as C++ source files instead.

That or just disallow versions of MSVC pre 2015.

[2017-01-17 23:19] #3 closed

[2017-01-17 23:24] #2 closed

[2017-01-23 14:59] migueldeicaza opened #4 "Explore including LLVM optimized output"
This might require some runtime changes.

[2017-01-24 15:32] MihaMarkic opened #5 "Linux support?"
I don't see explicit Linux support, the closest is Android.
So,what's the state of Linux platform?

[2017-01-24 15:49] tritao commented on #5
Not supported as of yet,.

Should not be too hard, just a matter of testing and adding explicit support for GCC as a compiler.

The current Clang compilation code might already work with some small fixes.

If you want to help I can guide you through it, if not, I hope to at least add initial support for it in the next few weeks.

[2017-01-24 15:55] MihaMarkic commented on #5
I would like to help but my Linux gcc experience (and C level in general) isn't much to brag about it.
We might try and give up if it wouldn't go anywhere.

[2017-01-25 11:41] MihaMarkic opened #6 "Won't build"
Freshly git cloned project wont build because:
a) CppSharp.Generator is missing Mono.Cecil assembly
b) catch.hpp file is missing by Basic.Tests.

The workaround to a) is to install Mono.Cecil from NuGet (should I create a pull request?) as for the second I don't know (tests can be omitted for the moment I guess).

[2017-01-25 12:24] tritao commented on #6
As you found you need to initialize the Git submodules.

Fixed by https://github.com/mono/Embeddinator-4000/pull/7.

[2017-01-25 12:32] MihaMarkic commented on #6
@tritao But that doesn't help in this case. Mono.Cecil is still missing, instead of catch.hpp now it complains about Basic.Managed.h. That's why I didn't close this issue.

[2017-01-25 12:43] tritao commented on #6
Sorry, thought it was fixed.

We do not really depend on Cecil directly, did some digging and it was added as an indirect dependency for CppSharp. I'll see about getting this fixed.

About `Basic.Managed.h`, can you tell me where the error message comes from? Is it at build time?

[2017-01-25 12:45] MihaMarkic commented on #6
Yes, build time on Basic.Tests.cpp.

[2017-01-25 12:46] MihaMarkic commented on #6
(and indeed such file is nowhere on my computer)

[2017-01-25 14:47] tritao commented on #6
I've been able to reproduce that issue, something on the build files got regressed, I will take a look.

[2017-01-25 15:02] MihaMarkic opened #10 "Standalone libraries"
Does end user libraries require .net installed or are they standalone (single file, no references)?
I'd certainly prefer an option to have the later but I think currently they are the former (required .net to be installed).

[2017-01-25 15:07] tritao commented on #10
The generated libraries need a CLR runtime, either linked statically or dynamically in the final application. Right now we only support Mono, but maybe .NET Core support can be be added after we have the missing features on the roadmap implemented.

[2017-01-25 15:08] tritao opened #11 "Command line option for Visual Studio version"
As the title says, add a `--vs` CLI option to set the wanted VS version for compilation.

[2017-01-25 15:09] MihaMarkic commented on #10
So no really standalone libraries, right.

[2017-01-25 15:12] tritao commented on #10
They can be "standalone" in the sense that you can get a DLL with Mono statically linked. So you'd just distribute two files, the `.dll`/`.so` and `.h` include file for end users.

The statically linked approach is not implemented but should be easy, we'll add these features depending on the feedback we get from users, so let us know if you need something like this.

[2017-01-25 15:17] MihaMarkic commented on #10
I'd be certainly interested in this scenario. Right now I have a scenario where a friend uses python and would call into an external library where some calculation are done.
So, I'd send him a couple of files instead of instructions on how to install mono, etc.
Then there are console applications and other candidates that would benefit.

[2017-01-25 15:23] MihaMarkic commented on #11
I can take this

[2017-01-25 15:25] MihaMarkic commented on #11
Shall we have a finished set of option (like 14.0, 13.0, 12.0 and latest <- default)?

[2017-01-25 16:00] tritao commented on #11
I was thinking keying it on VS version (and not the compiler version) as that's how I've historically handled it. so something like `--vs=2015`.

[2017-01-25 16:54] tritao commented on #11
Fixed by https://github.com/mono/Embeddinator-4000/commit/e12ece26843579feeeba83b739c7bf69455f9bfe.

[2017-01-25 17:55] #11 closed

[2017-02-14 20:06] migueldeicaza opened #13 "Surface to Go"
When we are done with ObjC and Java, we should explore surfacing to Go.

[2017-02-14 22:58] tritao commented on #13
Seems like Go provides C interop which we could target.

https://golang.org/cmd/cgo/

[2017-02-21 15:08] tritao opened #14 "Allow specifying explicit types to bind"
As suggested by @jonpryor, allow specifying explicit types to bind with the CLI interface.

Maybe this could be done with either a whitelist or blacklist filter command line option, with wildcard support.

[2017-03-01 14:22] Shrulik opened #15 "System.OverflowException: Value was either too large or too small for a UInt64"
I have tried to convert the Azure IoT Hub C# SDK to run natively on iOS.
https://www.nuget.org/packages/Microsoft.Azure.Devices.Client.PCL/

When I tried to compile(?) it , I got the following error. Am I doing something wrong ?

[code]

[2017-03-01 14:27] tritao commented on #15
Seems like just a bug... Let me try to reproduce it.

[2017-03-01 15:15] tritao commented on #15
This is an implementation issue with handling signed / negative values enum item types.

I pushed a work-in-progress fix... but it needs further testing which I can't do right now.

I've pushed it to unblock you, will be giving it a little more testing and fix any issues later in the day.

[2017-03-01 16:39] Shrulik commented on #15
Thanks for the help. After pulling the changes, I got the same error as in #6 "Basic.Managed.h". Earlier I had some problems in my VS 2015 install so I'm going to clean things a bit and see if it still happens.

[2017-03-02 12:36] Shrulik commented on #15
I still get 'Basic.Manged.h'. I have tried running the code again after the fix, and I get a different error, even on my 'HelloWorld' library with one method in it. This is the error:

[code]

[2017-03-02 12:54] tritao commented on #15
Looking into it.

[2017-03-02 15:14] tritao commented on #15
@Shrulik That issue should be fixed.

[2017-03-02 15:19] tritao commented on #15
About the `Basic.Managed.h` build failure, you can ignore it for now. It's some problem with the Windows build, will fix it once I have access to a Windows box.

[2017-03-02 15:20] #15 closed

[2017-03-08 04:31] bt-003 commented on #5
Tritao -
I'd like to help, though very new at this. I've had experience with GCC (and some C). Any guidance would be greatly appreciated.

[2017-03-08 23:29] tritao commented on #5
Great to hear. Were you able to successfully compile the project in Linux?

[2017-03-09 01:37] bt-003 commented on #5
No, haven't attempted yet. Let me work on it in the next day or two - I'll keep you posted.

[2017-03-09 20:02] bt-003 commented on #5
Still working on compiling in Linux.
Attempted to compile in the *support* file. Received error message "unable
to locate mono/jit/jit.h". This was resolved by redirecting paths in
various .h files.
Now, receiving many undefined references from
mono_embeddinator.c:mono_m2n_init function.  I'll have to investigate where
the references are located, and
redirect to their location.

On Wed, Mar 8, 201

[2017-03-09 20:06] tritao commented on #5
Not sure about the redirecting of paths. What did you do?

I think you need to change the code in `Compilation.cs` to: 1) invoke pkg-config to get the correct Mono paths on the system and 2) pass those include and library paths to the system compiler.

[2017-03-09 21:03] bt-003 commented on #5
Ok, let me try that. Thanks for your patience.

On Thu, Mar 9, 2017 at 1:06 PM, João Matos <notifications@github.com> wrote:

[2017-03-20 15:55] realvictorprm opened #16 "Gitter Chat for easier following workflow and discussions"
Hello Joao,

I would like to see a gitter chat for this.
Simply because I'm having questions,  want to talk about it etc. but with having the community involved too. Would be nice if you add it ;)

PS:
Of course, something different would be fine too. It's just about talking with devs easier about this library with informing the community too.

[2017-03-20 22:46] tritao commented on #16
Sounds good.

[2017-03-20 22:52] tritao commented on #16
Done: https://gitter.im/managed-interop

[2017-03-20 22:52] #16 closed

[2017-03-21 21:21] realvictorprm opened #17 "Embeddinator shuts down without detailed error message"
Hello fellows,

Embeddinator fails with a not detailed error message. That's not right, simply adding a description to the exception would help a lot.

E.g. the error code:

[code]

[2017-03-21 21:27] realvictorprm commented on #10
IDK, if I find time and digged enough into this I could take care of this. But don't expect too much, simply notice that I'm looking into it ;)

[2017-03-21 21:34] realvictorprm commented on #5
@bt-003 What's the state of this?

[2017-03-21 21:51] realvictorprm commented on #17
Fixed with #18

[2017-03-22 03:01] bt-003 commented on #5
I'm still in the trial stage of finding a solution. I'll let you know in 1wk if still unable to compile.

[2017-03-22 06:27] realvictorprm commented on #5
If there are any problems just tell them us :)

[2017-03-22 10:34] realvictorprm opened #19 "[general] Support for VS 2017"
Currently embeddinator does not support the usage of VS 2017 which is included in the newest CppSharp version. There are some bugs I'll list here which have to be fixed.

- [ ] fix compilation option for VS 2017
- [x] fix build script for generating VS 2017 solutions (I'll make a PR as soon as possible)
Further bugs can appear. Stand by.

The compilation for VS2017 fails due to that the path of _c

[2017-03-22 10:35] realvictorprm commented on #17
Okay I discussed with @tritao that we should use a general error message appearing before the actual error message comes. So this will be adjusted again and stay till then open.

[2017-03-22 10:40] realvictorprm opened #20 "[license] Adding information for the license of the generated code."
Just see the gitter chat.
:point_up: [21. März 2017 18:21](https://gitter.im/managed-interop/Lobby?at=58d1611d6701410e585f20d8)

Already discussed, only needs to be added.

[2017-03-22 15:53] bt-003 commented on #5
Thanks, I really appreciate it. This type of formatting / compiling is new
for me. Rather than invoking pkg-config to get correct Mono paths and
passing to the system compiler,  I'm used to compiling by creating object
files (from .c files) in order to compile/make.
I've also completed an app to Google Summer of Code, so can devote more
time to this.

On Tue, Mar 21, 2017 at 11:27 PM, realvictorpr

[2017-03-25 18:54] spouliot opened #22 "[objc] instance methods requires the instance to be used as argument (at build time and crash at runtime)"
c# code

[code]

generated code

[code]

This force the caller to do something like:
[code]

This _should_ be:

[code]

Ideally it would be
[code]
but that's other 2 other issues (to be filled).

[2017-03-25 19:28] spouliot opened #23 "[objc] Creating instance for `[[X alloc] init]` does not work, `new` is needed"
`[[X alloc] init]` is a very common pattern, and it does compile fine. The problem is that it crash at runtime.

E.g. this works
[code]

E.g. this crash
[code]

Fixing this will require refactoring `new` logic into `init`.

[2017-03-25 20:24] spouliot opened #26 "[objc] Add support for `NSString` when mapping `System.String`"
Right now strings are exposed as `char*` which is not ObjC friendly and requires quite a bit of code (and additional memory management).

[2017-03-25 20:58] spouliot commented on #22
It's not just prettiness it also crash if executed

[code]

[2017-03-25 23:16] spouliot commented on #23
[code]

[2017-03-26 00:01] spouliot commented on #22
The crash part happens because `_object` is never assigned (nil), so setting it's `_field` cause a crash.

That require changes in the instance creation, best done inside the fix for #23

Once that's fixed then the signature part can be fixed.

[2017-03-26 15:50] spouliot opened #27 "[perf] mono_method_desc calls are costly and executed on every call"
Running this

[code]

is very slow:

[code]

due to the fact that the `MonoMethod` is not cached, see generated code:

[code]

Moving (sharing) the initialization code (less code) and caching the `MonoMethod` like this:

[code]

is a lot faster.

[code]

[2017-03-26 16:24] spouliot commented on #23
A generated, working `init` looks like this

[code]

[2017-03-26 21:21] #22 closed

[2017-03-27 17:19] #27 closed

[2017-03-31 22:46] spouliot commented on #23
https://github.com/mono/Embeddinator-4000/pull/38 takes care of this

[2017-03-31 22:46] #23 closed

[2017-04-01 21:40] spouliot opened #43 "[api] we must be able to override from where assemblies are loaded"
The current code assume they will be with the executable. That's not gonna work for all scenarios, e.g. plugins.  PR#42 ran into this issue while adding Xcode-based unit tests. There's a band-aid API to move things forward but it should be revisited to cover more scenarios*

* creating a .framework will also require a different location, c.c. @rolfbjarne

reference: https://github.com/mono/Embeddi

[2017-04-02 18:50] spouliot opened #47 "[objc] Optionally generate an Xcode project that can consume the library"

[2017-04-03 14:05] spouliot commented on #26
PR #51 covers this

[2017-04-03 14:05] #26 closed

[2017-04-06 19:10] spouliot opened #71 "[objc] Generate good names without duplicates"
We need to come up with good names while avoiding duplicate signatures.

Parameter names are better (than types), e.g. `initWithFirstName:lastName:`, but we can end up with duplicates.

Using types won't create duplicates, e.g. `initWithString:string:`, since C# requires unique signatures. However the names are less than ideal.

The best approach would be to try parameters first and, in case of du

[2017-04-06 19:12] spouliot opened #72 "[objc] .NET .ctor are not inherited but `init*` methods are"
See **FIXME** in Xcode's `testConstructors` for a test case

Potential solution: Use `NS_UNAVAILABLE` to redefine the non-existing `init*`.

[2017-04-06 20:42] spouliot opened #73 "[objc] Add support the default values in methods/ctors"
E.g. for

[code]

we can generate `method()` like:
[code]

which requires less (generated) code (than calling `mono_` API) and provide the same API.

[2017-04-06 21:38] spouliot opened #74 "[objc][driver] Add option to generate 32 bits (i386) or fat (i386 and x86_64) dylibs for macOS target"
Maybe like `mtouch --abi` option ?

[code]

[2017-04-07 15:32] spouliot opened #82 "[objc][perf] Use metadata tokens in some cases"
Right now the type and method lookups are done using strings.

[code]

That has a nice advantage (that we want to exploit) as it allow swapping a .dll (if the API is identical) on some platforms (e.g. won't work with iOS/AOT). This can be very useful in **debug** mode.

However we could use the metadata tokens when building **release** code. That should (benchmarking needed) provide a performance

[2017-04-10 16:05] VincentDondain opened #89 "[objc] camelCase instead of PascalCase for methods"
Currently when generating Objective-C methods, e4k creates them using PascalCase (convention in C#) instead of **camelCase** (convention in ObjC).

[Cocoa coding guidelines](https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/CodingGuidelines/Articles/NamingMethods.html#//apple_ref/doc/uid/20001282-BCIGIJJF)

C#

[code]

Objective C
[code]

Those methods names should be usin

[2017-04-10 18:31] spouliot commented on #89
@VincentDondain were you using the `objc` branch ?

[code]

[2017-04-10 20:26] VincentDondain commented on #89
I was but I wasn't using `objcgen.exe`.

This is indeed already fixed on the `objc` branch (if you're using it properly).

[2017-04-10 20:26] #89 closed

[2017-04-11 15:32] rolfbjarne opened #100 "mono_embeddinator_error should be exception safe"
mono_embeddinator_error takes a stack-allocated mono_embeddinator_error instance, which has const char * field.

That const char * field contains a malloc'ed memory, freed after mono_embeddinator_error returns.

That malloc will never be executed if mono_embeddinator_error throws an exception instead of just returning.

[2017-04-11 17:20] spouliot commented on #82
implemented with PR #91

[2017-04-11 17:20] #82 closed

[2017-04-11 18:26] spouliot opened #102 "[objc] Generate documentation in headers"
It should be possible to convert a `csc`-output'ed .xml documentation file and, given to as an input to the generator, create the _somewhat_ related documentation to the ObjC API.

[2017-04-11 19:45] spouliot commented on #74
PR #97 handles this but it's automatic to cover all supported arch.

It would still be nice to have it as an option, if only to iterate faster when debugging (e.g. building 3 architectures for iOS when only one will be debugged).

[2017-04-12 02:40] dalexsoto opened #104 "[objc] Add error/warning tests for things we can't execute"
From @spouliot https://github.com/mono/Embeddinator-4000/pull/103#discussion_r111054181

[2017-04-12 13:06] spouliot opened #111 "[objc] Dont rebuild native library if surface did not change"
At least in **debug** (where we don't use metadata tokens) we can detect if the assembly _surface_ changed and just copy the .dll(s) into the library.

E.g.
* tool is re-executed on the same binary -> skip generation and build;
* tool generates the same header -> skip build

This would allow a developer to make a small change (code, not API) in his managed code and quickly be able to build/debug h

[2017-04-12 13:30] spouliot opened #112 "[objc] Make the headers comments compatible with appledoc"
tool: https://github.com/tomaz/appledoc
guidance: http://nshipster.com/documentation/

That's for the generator's own output, e.g. why is a `init` marked with `NS_UNAVAILABLE`.

There's a separate, open issue https://github.com/mono/Embeddinator-4000/issues/102 to copy/convert existing .NET (xml) documentation into the headers (and it should follow the same format/rules).

[2017-04-12 15:54] rolfbjarne opened #113 "[objc][ios] One framework with both simulator and device support, or one framework for simulator and one for device?"
One framework with both simulator and device is:

* Much easier to consume. Xcode does not make it easy to build with different frameworks (at least I haven't found a way).
* Bigger. We can't strip IL. We might have to disable other linker optimizations that make assemblies non-architecture-agnostic.

We can also build both, and let the user decide.

[2017-04-12 16:06] dalexsoto commented on #113
My take is for one big and fat Framework 🍭

Why? because from my previous experience working on the components team this is what Objective-C developers are used to, most of the projects we bound that distributed binaries were fat binaries and fake frameworks (static binaries disguised as .framework) that also contained sim and device archs.

By having a fat framework it will be a lot easier to jus

[2017-04-12 16:17] rolfbjarne commented on #113
Maybe we can ship a framework-slimificator that IL strips assemblies on the build machine for device builds.

[2017-04-12 16:20] dalexsoto commented on #113
You forgot the 5000 suffix ;)

[2017-04-12 17:36] spouliot commented on #113
*Full AOT* is only available for iOS (and tvOS / watchOS). Ideally the tool usage would be (at least by default) identical for all platforms.

Still shipping IL can be a problem in two cases:

1. It has a non-trivial impact on the application size

**Workaround:** We could provide instructions to strip the assemblies from Xcode (as an additional build step).

2. Intellectual Property: if the tool

[2017-04-12 22:31] dalexsoto opened #116 "[objc] Use #pragma mark to organize our generated headers for easy code navigation in xcode"
http://nshipster.com/pragma/

[2017-04-13 14:12] spouliot commented on #74
https://github.com/mono/Embeddinator-4000/pull/114 was merged

[2017-04-13 14:12] #74 closed

[2017-04-14 02:17] spouliot opened #122 "[objc] Implement property indexers with subscripting"
http://nshipster.com/object-subscripting/

[2017-04-14 02:23] spouliot opened #123 "[objc] Map `GetHashCode` and `Equals` to `NSObject` protocol `hash` and `isEqual:`"
The semantics are identical.

`@property(readonly) NSUInteger hash;`

* `hash` returns an `NSUInteger` so it differs in 32/64 bits, while .NET always return a 32bits integer;

https://developer.apple.com/reference/objectivec/1418956-nsobject/1418859-hash?language=objc

`- (BOOL)isEqual:(id)object;`

* a non-bound `NSObject` (i.e. does not have a managed peer) must not be sent to the mono runtime.

[2017-04-14 02:30] spouliot commented on #123
That would remove warnings like:

[2017-04-14 02:40] spouliot opened #124 "[objc] `IComparable` (and it's generic version) should map to `compare:`"
E.g. `IComparable<DateTime>` should provide

`- (NSComparisonResult)compare:(NSDate *)other;`

Again it's important that a non-bound `NSObject` does not reach the mono runtime.

references:
* https://developer.apple.com/reference/foundation/nsdate/1409748-compare?language=objc
* https://msdn.microsoft.com/en-us/library/4d7sx9hd(v=vs.110).aspx

This will remove warnings like:

[2017-04-14 15:43] spouliot commented on #73
Right now we warn that this is not supported, e.g.

[2017-04-14 22:14] timrisi commented on #123
I'll look into this one

[2017-04-14 22:17] dalexsoto opened #128 "[objc] Add an option to give an app.config file"
In PR https://github.com/mono/Embeddinator-4000/pull/127 we now use `mono_domain_set_config` and give some defaults, we can provide an option to pass a specific `app.config` file

[2017-04-14 22:21] spouliot commented on #128
Also `machine.config` and making sure to pick up any assembly.dll.config files for things we're binding...

[2017-04-16 17:28] spouliot opened #130 "[driver] Add option to add custom .m files to the library"
This will allow include native helper code into the final .dylib / framework.

[2017-04-17 11:05] rolfbjarne commented on #128
Even for XM we should build a framework, which would be easy to consume from Xcode, and we can put all the .config files there (including app.config).

Which doesn't mean that the generator shouldn't have an option to specify a custom app.config file :smile:

[2017-04-18 14:34] spouliot commented on #72
PR #103 fixed this.

[2017-04-18 14:34] #72 closed

[2017-04-19 14:50] chamons opened #144 "Multiple indexed properties broken code"
[code]

[2017-04-19 14:52] chamons opened #145 "Passing nonexistant path to objcgen gives unexpected error"
mono bin/Debug/objcgen.exe NonExistantLib.dll
[code]

[2017-04-19 18:10] #122 closed

[2017-04-20 12:25] spouliot commented on #124
2nd and last part (generic version) was merged in https://github.com/mono/Embeddinator-4000/pull/148

[2017-04-20 12:25] #124 closed

[2017-04-20 12:33] rolfbjarne commented on #113
I decided with the greedy approach: do every option.

We'll create one framework for the simulator, one framework for device, one merged framework, and a shell script to thin the merged framework.

[2017-04-20 13:42] spouliot commented on #112
done https://github.com/mono/Embeddinator-4000/pull/150
now we just need to keep it that way :)

[2017-04-20 13:42] #112 closed

[2017-04-20 14:18] spouliot opened #152 "[objc] Map managed extensions methods to categories"

[2017-04-20 20:35] spouliot opened #154 "[objc] Add support for `params` on methods"
using `va_list` and friends on the ObjC side

[2017-04-20 20:49] #152 closed

[2017-04-21 12:34] realvictorprm commented on #14
Something like TypeMaps in CppSharp @tritao?

[2017-04-21 12:39] realvictorprm commented on #73
I could help here too @spouliot.

[2017-04-21 12:52] realvictorprm commented on #13
If I'm having too much time I'll take care of this too ;)

[2017-04-21 13:50] spouliot commented on #73
@realvictorprm thanks :) but it's mostly done - at least for **objc**, not sure where your interest is).

I'm waiting for another PR (to avoid duplicated signatures) to be merged to publish it.

headers
[code]

implementation
[code]

[2017-04-21 14:32] chamons opened #155 "Optimize cost of name generation of properties/methods/etc"
Once we have this

https://github.com/chamons/Embeddinator-4000/commit/9db59d9b7856458b59b74e4ce5f86ae3f1983952#commitcomment-21854521

let's add lazy generation / caching to the ProcessedMethod and such.

[2017-04-21 18:06] tritao commented on #14
No, just a command line option, say `-filter MyNamespace:*` which would only allow types from that namespace to be bound.

[2017-04-22 00:49] timrisi commented on #123
https://github.com/mono/Embeddinator-4000/pull/159

[2017-04-22 08:11] realvictorprm opened #160 "[general] Improve docs, showcase and contributing section"
Currently the github page of Embeddinator is lacking detailed information about how it works, where it's useful, how to contribute etc. I consider this as very important.

My suggestions is following:
Start with adding a wiki which describes in more detail how to use it, add some examples both to the repository and the wiki and at least at a contributing.md .

[2017-04-22 08:43] realvictorprm opened #161 "[C] Path arguments for compilation are passed unsafe"
Currently the arguments are passed in such way `cl.exe YourSuperPath With Spaces/Sourcefile.c`
which is unsafe because the example already shows that spaces aren't taken into account.
It's needed to at additional `"` to fix this.

[2017-04-22 09:54] realvictorprm opened #163 "[C] Support file embeddinator.c incompatible with windows"
I ran into some issues with the support file embeddinator.c on windows.

1. The file `unistd.h` is not available under windows
2. The define `PATH_MAX` is not available under windows too

A couple of lines only needed to be changed for compiling it, however I'm not sure whether they're fine.

1. I changed the location of the include checking whether we're on windows or not
2. Seems like the equiva

[2017-04-22 11:16] realvictorprm opened #165 "[C] Auto compilation on windows is broken"
The compilation on windows is broken due to several bugs.
E.g. issue #163 and #162 are breaking and that the library file for embedding mono isn't dynamically specified (either monosgen-2.0.lib or mono-2.0-sgen.lib). I already prepared fixes for this however, there are still bugs left like missing library paths.

- [x] Update to latest CppSharp version
- [x] Update compilation code for linking to

[2017-04-22 21:19] realvictorprm opened #167 "[C] Specify compilation architecture"
Currently it's not customizable whether the output library is for x86 or x64. An option for this has to be added.

[2017-04-22 22:11] tritao commented on #167
See the new option added in `objc` branch: https://github.com/mono/Embeddinator-4000/blob/84ed9a4cb5ab0b3e6e01648b891f5239637cff6e/objcgen/driver.cs#L68

[2017-04-23 08:41] realvictorprm opened #169 "[dependencies] Update CppSharp"
An update to the latest CppSharp is highly recommend by me, because it's needed to fix compatibility issue with VS 2017 _and_ critical bugs for correctly supporting windows 10 sdks.

As already figured out some fixes to the auto compilation have to be made for windows, where solving this issue is required for solving issue #165.

[2017-04-23 08:45] realvictorprm opened #170 "[C++] Add C++ Backend"
A C++ backend would be cool. I would like to take care of this so please assign this to me ;)

[2017-04-23 13:00] realvictorprm commented on #170
Thanks @tritao 👍

[2017-04-23 13:03] realvictorprm opened #172 "[general] AppVeyor build not accessible"
I tried viewing the AppVeyor build page of Embeddinator. However I only saw a empty page with the message `Project not found or access denied`.
Is this supposed behaviour?

[2017-04-24 16:51] chamons opened #174 "Move operator naming changes into post processing with a test"
https://github.com/mono/Embeddinator-4000/pull/156#discussion_r112747345[](url)

[2017-04-24 19:34] spouliot opened #175 "[objc] `IFormatProvider` helper / proposal"
The use of `IFormatProvider` [1] is very common in some libraries. It's also something not easy to bind correctly (i.e. make it usable from ObjC) and yet easy to workaround (`null` is generally accepted) without dropping (not generating) the API. The later (not providing an API) can leave the developer without any usable API to achieve a task (e.g. lack of an overload without a `IFormatProvider`).

[2017-04-24 19:42] spouliot opened #176 "[objc] Binding indirectly used, well known, types"
For example, `System.TimeSpan` (a `long`) closest alternative (in Apple's foundation) is `NSTimeInverval` (a `double`).

Doing back and forth conversion between them would not be cute, e.g. cumulative rounding errors.

What we could do is:

1. detect the use of `System.TimeSpan`;
2. ask the generator to bind it as `NETTimeSpan`;
3. continue generating API using the new native name;

We could even

[2017-04-24 19:49] spouliot commented on #176
I don't think it's a good idea when

1. types are too close, e.g. `NSDateTime` and `DateTime`. That will lead to duplicated functionality that difference people don't want to learn about;

2. types that are too complex, e.g. exposing `System.Uri` to avoid exposing `NSUrl`;

[2017-04-24 20:18] spouliot opened #177 "[objc] Turn interfaces into protocols"
Every member must be `@required` for .NET.

Issues:
* unless all members of the .NET interface can be mapped to ObjC we cannot subclass (the protocol) or even _correctly_ conform to a protocol;

E.g.
* `object GetFormat(Type formatType)` would be hard to conform to from ObjC

[2017-04-25 19:18] timrisi commented on #123
Merged

[2017-04-25 19:18] #123 closed

[2017-04-25 19:30] spouliot commented on #71
PR #156 was merged

[2017-04-25 19:30] #71 closed

[2017-04-25 19:31] spouliot commented on #73
PR #157 was merged

[2017-04-25 19:31] #73 closed

[2017-04-25 20:03] #144 closed

[2017-04-25 20:05] chamons commented on #144
Fixed in https://github.com/mono/Embeddinator-4000/pull/156

[2017-04-25 23:14] #165 closed

[2017-04-25 23:24] spouliot opened #183 "[objc] Better operator support"
Libraries that wants to be CLS compliant are likely to provide friendly-named methods [1] that match the  (non-CLS compliant) operator overloads.

That means:

1. we should emit ObjC code using the friendly names (consistency);

2. if both the operator and the friendly name are present (in .net) then only one should be generated in ObjC (since they _should_ be duplicate);

[1] https://msdn.microso

[2017-04-26 00:55] timrisi commented on #145
PR merged

[2017-04-26 00:55] #145 closed

[2017-04-26 01:28] spouliot commented on #174
PR #181 was merged

[2017-04-26 01:28] #174 closed

[2017-04-26 16:05] dalexsoto opened #189 "[objc] Array <-> NSArray support"
- `byte []` <-> `NSData`
- `string []` <-> `NSArray<NSString>`
- `Foo []` <-> `NSArray<NSFoo>`

[2017-04-26 17:52] spouliot commented on #189
There's also the, less common, `System.ArrayList` [1] that _could_ map to non-generic `NSArray`.

However it's not clear if it's worth doing, e.g.  it could be very costly to copy elements and the untyped object types might not have any useful representation in ObjC.

It's worth a comment (in the source) but it's not to be covered by a PR to fix this.

[1] https://msdn.microsoft.com/en-us/library/

[2017-04-26 18:00] rolfbjarne commented on #189
I wonder if we can create our own NSData/NSArray subclasses that contains a reference to the managed object, and only fetches data/items when requested.

This would be much faster, and it would also mean writes on one side would be visible on the other, since the backing store is the same.

[2017-04-26 18:30] spouliot commented on #189
@rolfbjarne that's a very interesting idea :) but we would still need to support the original case

`public byte[] Hash (byte[] input) {...}`

We can control the output to be our special (public or not) subclass of `NSData` (e.g. `NETData`) but we should not force people to use it for `input`.

[2017-04-26 21:52] spouliot commented on #189
Note that both `NSArray` and `NSData` [1] are class clusters [2]. Not the funniest types to subclass correctly :(

[1] https://developer.apple.com/library/content/documentation/General/Conceptual/DevPedia-CocoaCore/ClassCluster.html#//apple_ref/doc/uid/TP40008195-CH7-SW1
[2] http://stackoverflow.com/a/5772610/220643

[2017-04-26 22:35] VincentDondain opened #193 "[objc] "Make the word before the argument describe the argument" rule"
Here is the rule from [Apple](https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/CodingGuidelines/Articles/NamingMethods.html#//apple_ref/doc/uid/20001282-BCIGIJJF):

-----
Make the word before the argument describe the argument.
- (id)viewWithTag:(NSInteger)aTag;
**Right.**
- (id)taggedView:(int)aTag;
**Wrong.**
-----

Given that, https://github.com/mono/Embeddinator-4000/

[2017-04-26 22:40] VincentDondain opened #194 "[objc] Use word "Value" in method's names after a type"
Following https://github.com/mono/Embeddinator-4000/issues/193 it's pretty common/convention in ObjC to say `Value` after a type if it's what you **have to** use in your method's name.

So https://github.com/mono/Embeddinator-4000/blob/objc/tests/managed/methods.cs#L93-L94 for instance should become:

[code]

[2017-04-26 22:45] VincentDondain opened #195 "[objc] "Avoid one- and two-letter names for arguments" rule"
Rule from [Apple](https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/CodingGuidelines/Articles/NamingMethods.html#//apple_ref/doc/uid/20001282-BCIGIJJF) under "Method Arguments".

If we take this C# code for instance: https://github.com/mono/Embeddinator-4000/blob/objc/tests/managed/methods.cs#L93-L94 (and once https://github.com/mono/Embeddinator-4000/issues/193 and  https

[2017-04-26 22:50] VincentDondain opened #196 "[objc] No space between type declaration and argument"
The usual convention in ObjC is to not put spaces between the type declaration and the argument name.

Check all the methods in [this doc](https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/CodingGuidelines/Articles/NamingMethods.html#//apple_ref/doc/uid/20001282-BCIGIJJF) for instance.

So if I take the piece of code I've been referring to in the 4 previous issues again (p

[2017-04-26 23:01] spouliot commented on #189
According to [1] _NSData’s primitive methods are -length and -bytes_ - which seems odd compared to the amount of issues people have trying (but they could be due to other difference).

[1] http://www.cimgf.com/2012/02/17/extending-nsdata-and-not-overriding-dealloc/

[2017-04-26 23:17] spouliot commented on #193
Apple's guideline is for humans and sadly computer are not really good at describing (and we can't turn this into an AI research project).

`With` is already used with `Init` since it's always (or near enough) the best choice. That's less true with methods, e.g.

* `drawInRect:` is not the same as `drawWithRect`
* `drawAtPoint:`
* `performSegueForRow:`

I'm not sure we can create code to always pi

[2017-04-26 23:34] spouliot commented on #194
Q: When does it make sense ? and when does it not ?

E.g. why not for the `NSString` overload ?

IMO `doItWithNSStringValue` would be quite bad, i.e. the `NS` should not be there

but `doItWithStringValue` ? there's quite a few Apple API with similar signature

Still I prefer `doItWithString` - and there's also many similar signature (without `Value`) in Apple's API

[2017-04-26 23:42] VincentDondain commented on #193
Mmh, knowing that we wouldn't turn that into an AI research project and use cool algo + a mega neural network, I only raised the things in this doc I _thought_ were generic enough.

Isn't the `With` generic enough to cover `In`, `At` and `For`? It's not as precise but that's not my point.

[code]

Those are super weird.

The problem is not having a separation between the "main method name" section

[2017-04-26 23:44] spouliot commented on #195
In general it will be GIGO (garbage-in, garbage-out) so good .NET code will lead to good parameter names. However we could fallback to the provided list [1] while taking care not to create duplicates, i.e. `(int i, int j)` cannot become `(int) anInt ... (int) anInt`

[1] https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/CodingGuidelines/Articles/NamingMethods.html#//apple_

[2017-04-26 23:48] VincentDondain commented on #195
Lol I was about to comment about the possible duplication issue.

We could go `anIntI` and `anIntJ` in case of duplication but at least we respect the guidelines.

[2017-04-26 23:54] VincentDondain commented on #194
We would do it for the `NSString` overload, I fixed the description, was a typo sorry.

[2017-04-26 23:59] VincentDondain commented on #194
The rule would be to use `Value` when we're using the type's name as method name. If we're using the argument's name we don't need to add `Value`.

[2017-04-27 00:02] VincentDondain commented on #194
You're not using type's names in ObjC methods very often (when you're not generating code :P) and I believe that when you do see a type name in the method's name you expect to see `Value` next to it.

You can disagree with me and close this issue though, I'm just reading the naming methods document but if Apple also break that rule most of the time... (:

[2017-04-27 00:12] spouliot commented on #193
Heh, naming is hard :-)

**The problem is not having a separation between the "main method name" section (if that makes any sense) and the "first argument description".** is a good recap of the issue. It's basically always present in ObjC while it's not in .NET API.

I don't think `With` is a drop-in replacement for the others, it can change the meaning of the action.

E.g. are you going on vacati

[2017-04-27 00:27] spouliot commented on #194
No disagreement just trying to extract rules that we can codify :-)

It's an interesting typo because it (a) looks nice and (b) commonly used by Apple. I mainly saw it because it was near another (non string) case, otherwise I think I would have fell under my radar.

Anyway it applies mostly (but not uniquely) to `NSString` and it's simpler (and consistent, easier when generating code) to have a s

[2017-04-27 00:31] spouliot commented on #196
You mean

* `(int)anInt;` (good) and
* `(int) anInt`; (bad)

right ?

That should be an easy fix :)

[2017-04-27 06:12] rolfbjarne opened #197 "Only support frameworks (not static/dynamic libraries) when embedding XI/XM."
I think we should only support creating frameworks when embedding XI/XM (no static libraries (.a) nor dynamic libraries (.dylib)), since it becomes cumbersome to use (the library consumer would have to keep track of the assemblies as well, and any other related files we may have now or in the future).

[2017-04-27 13:02] spouliot commented on #197
I like that, frameworks are the future anyway :)

It does require to have XM (mmp) supports (producing) them (c.c. @chamons).

The other options could be deprecated (not shown by default) and community supported (if there's any interest in them).

[2017-04-27 13:25] spouliot commented on #177
PR merged https://github.com/mono/Embeddinator-4000/pull/191

[2017-04-27 13:25] #177 closed

[2017-04-27 13:58] spouliot commented on #176
[code]

@VincentDondain this is how we _currently_ generated an header for the well defined `TimeSpan` API

[2017-04-27 14:23] VincentDondain commented on #193
I'm okay with an other magical word, using seems fine too.

I actually thought about `With` exactly like you're thinking of `Using`. As in "main method name" **with** / **using** the first argument. It's myMehod **with** an argument.

*If I understand your point about going on vacations **with** the children or **for** the children but even if you're going **for** them you're still going **with**

[2017-04-27 14:26] VincentDondain commented on #196
@spouliot yup that's what I mean (:

[2017-04-27 15:21] spouliot commented on #193
yeah, I'm not sure if it's worse to use `With` (as it won't be correct in several cases) or to skip the _middle_ preposition. Ideally a more complex rule (than just use it for `Init`) could solve this... I'm just looking for it :)

[2017-04-27 18:10] VincentDondain commented on #193
Skipping the middle preposition is worse IMHO, as fusion the argument name with the method name can lead to incomprehensible method name (because you can't really parse the main method name) and can also transform the intent of the method.

It's a problem if your main method name is using a verb right? Because you're gonna concatenate the verb and the first argument name (in some cases) and that w

[2017-04-27 18:13] VincentDondain commented on #193
Also while we're on the subject, the simplest solution is still to not concatenate the first argument to the method's name if possible.

If you don't have any overloads it's likely safer (produces better code) to avoid using the first argument or type.

[2017-04-27 21:27] spouliot opened #202 "[objc] ValueType are missing `init`"
There's no default constructor for value types so, right now, we not generated a default `init` leading to incorrect:

[code]

[2017-04-27 21:41] chamons opened #204 "Operator and "friendly" methods should generate same name"
This PR adds the ability to have "friendly" versions of functions that we'll generate instead of operator + and the like.

However, they gen to 2 different selectors. They really shouldn't/

https://github.com/mono/Embeddinator-4000/pull/190

[2017-04-27 21:45] chamons commented on #183
https://github.com/mono/Embeddinator-4000/pull/190 landed

[2017-04-27 21:45] #183 closed

[2017-04-27 21:48] VincentDondain commented on #204
Let me move my question from the other PR here:

@chamons @spouliot I wonder if we should go:

[code]

[code]

[code]

Instead of using the argument name.

[2017-04-27 23:20] timrisi commented on #195
How deep do we want to go on this?  It's pretty easy to set it up simply based on the parameter types (anIntI, aStringB, anObjectX, etc).  Do we want to try to parse keywords as well (atIndex vs intValue vs length for instnace to get index, anInt, numBytes as the parameters)

[2017-04-27 23:25] timrisi commented on #196
I'll fix this alongside the 1-2 letter arguments since it's in the same code

[2017-04-28 00:18] spouliot commented on #196
@timrisi looks like @VincentDondain got to it earlier with PR #205 :)

[2017-04-28 00:18] #196 closed

[2017-04-28 00:21] spouliot commented on #195
Not sure I get the last phrase ?!? example ?

[2017-04-28 00:27] timrisi commented on #195
From the samples apple listed:
[code]

[2017-04-28 00:32] timrisi commented on #195
https://gist.github.com/timrisi/a893226b357eaad2c4e6eef0ada74649 is my current diff.

Right now I just have a dictionary of Type -> argumentName, without using any of the other keywords, then it appends the original argument name to avoid conflicts, so:
[code]
becomes
[code]

[2017-04-28 01:25] spouliot commented on #195
oh I see now :-)

I think `int x` should become `(int)anInt` if it's the lone `int` parameter that needs to be modified.

If there's more than one then the original, short name, can be applied, e.g.
`int x, int y, int z, int theFourthDimension`

would become:
`(int)anIntX (int)anIntY (int)anIntZ (int) theFourthDimension`

@VincentDondain thoughts ?

[2017-04-28 01:27] timrisi commented on #195
Also doable, just requires a bit more work to parse all of the arguments to see if it's a lone short parameter or not

[2017-04-28 13:13] spouliot opened #207 "EM0099: Internal error `FindOperatorPairs did not find expected number of op_ methods`"
[code]

You can get the library with

[2017-04-28 13:13] spouliot commented on #202
PR #206 was merged

[2017-04-28 13:13] #202 closed

[2017-04-28 14:10] spouliot opened #208 "[perf] Use `mono_method_get_unmanaged_thunk`"
1. Compare performance of using `mono_method_get_unmanaged_thunk` instead of `mono_runtime_invoke`

note: The test itself could be done for a specialized method (e.g. `GetHashCode`) versus an identical one (that's not specialized).

2. If the results are good then we should switch to using the newer API.

ref: http://www.mono-project.com/docs/advanced/embedding/#unmanaged-to-managed-thunks

[2017-04-28 15:13] VincentDondain commented on #195
@spouliot no more thoughts, you described it perfectly (:

[2017-04-28 18:09] #169 closed

[2017-04-30 13:52] spouliot opened #217 "[objc] Managed to native callbacks"
Right now we can only make native consume managed API but there's no two way integration. E.g.

- delegates: the C# (not ObjC) ones;

- interface calls: when a native instance conforms to a protocol that is a .net interface;

- subclassing: when a native instance overrides a managed member - that's trickier since everything is virtual in ObjC;

[2017-05-01 13:21] spouliot opened #219 "[objc] Add support for `IEquatable<T>`"
We have _cute_ support for `NSObject` protocol which means the managed `bool Equals (object)` generates the expected:

[code]

However other equality methods, like the one required to implement `IEquatable<T>` [1], are still using the _default_ generated code, which looks like:

[code]

That should be changed to generate something like:

[code]

[1] https://msdn.microsoft.com/en-us/library/ms13118

[2017-05-01 13:43] spouliot opened #221 "[objc] Duplicated code for equality: static `Equals` and `==`"
[code]

Only one should be generated. The later looks better but maybe we should model it on the instance version ?

e.g. instance

[code]

so the static / operator version _could_ be

[code]

@VincentDondain thoughts ^

[2017-05-01 13:47] spouliot commented on #221
note that renaming `equality` also raise questions on `inequality`

* do we rename it too ?
* do we even need to expose it ? (it's a lot of generated code to avoid a `!`)

[code]

[2017-05-01 15:00] VincentDondain commented on #221
@spouliot I agree that `equality` or `equalsT1` aren't great (:

I'm ok with `areEqual` (and I think there's no **s** at the end) since it respects the naming rules.

-----

*Separate note: `isEqual` should only be called like that if the next argument's type is `id`. Otherwise you have to specify the type in the method's name like:*
[code]
(@spouliot new rule?).

[2017-05-01 15:01] VincentDondain commented on #221
As for **inequality**, removing would be great otherwise maybe `areNotEqual`?

[2017-05-01 15:17] chamons opened #222 "Packaging / Installer?"
Users being able to try E4K without git clone.

[2017-05-01 15:18] chamons opened #223 "Documentation / Getting Started Docs"
Features without documentation don't exist, and a product without a getting started doesn't exist.

We should get started on some docs.

[2017-05-01 15:48] realvictorprm commented on #223
@chamons Also told in issue #160

[2017-05-01 16:31] spouliot commented on #222
Currently what we need to ship is, minimally, an .exe with Mono.Options.dll - so it requires Mono [1]. This leaves us with a lot of options, e.g

* a zip file with a README - it might be a bit brutal;

* a .dmg (like XS) where you can drag the tool into a pre-determined (or your own) location;

* a .pkg like Xamarin.[iOS|Mac] - that could install stuff inside `/Library/Frameworks/*` using the same

[2017-05-01 16:34] spouliot commented on #223
@dalexsoto I'd like you to write the macOS getting started based on the weather sample that you wrote;

@rolfbjarne for iOS we need to discuss if we're doing a basic (non XI) or more advanced tutorial before starting;

[2017-05-01 16:38] chamons commented on #20
What does bmac/btouch do here? We should be consistent (and possibly talk to legal and all of that...)

[2017-05-01 16:41] chamons commented on #176
Could we pick a few "sample" libraries and dump their types? Make a list of the top 5/10/15 .NET types (like TimeSpan) that are maybe worth special casing?

[2017-05-01 16:43] chamons commented on #222
I don't understand all of the bits well enough to know if this is a stupid question but:

Could we package everything up inside a Xamarin.Mac bundle? That way we could get a nice self contained bundle to shove inside our zip/dmg/pkg/nuget/whatever

[2017-05-01 17:06] VincentDondain commented on #160
+1 for the wiki in general, as a way to give an overview of the whole project, explain the branches, link to builds and detail how to contribute.

_Let us also keep in mind that we might want to avoid wiki pages for some files (like getting started in https://github.com/mono/Embeddinator-4000/issues/223 for instance for instance) as we'll have to push them to our documentation website._

[2017-05-01 17:07] chamons commented on #207
My overloading code made bad assumptions (but at least I was smart enough to make them assertions):

[code]

is enough to hit the assert.

[2017-05-01 17:09] VincentDondain commented on #223
As I mentioned here: https://github.com/mono/Embeddinator-4000/issues/160#issuecomment-298375522 we should have the getting started file as an `md` file in the repo so we can PR to it and likely link that file in a future wiki. Also we should reproduce the behavior of xamarin-macios wrt doc files to push them on the documentation website.

[2017-05-01 17:44] spouliot commented on #222
@chamons for dropping the mono requirement ? and/or other advantages ?

For the former we could `mkbundle` the executable (simpler) but it would mean the .exe could not be copied back to windows [1] but it's not something I had really considered [2] and makes the *zip* a bit more attractive.

[1] it technically can generate source on Windows, use not invoke `clang`
[2] it will become more importan

[2017-05-01 17:47] chamons commented on #222
Mostly dropping the mono requirement and making mostly sure all of our bits are relative to each other (the installer generation is a simple invocation to productbuild so it doesn't buy much).

mkbundle would do the same thing simplier, but that outputs just a raw binary, right? If we have to ship other resources they'll either be free or we'll have to make a bundle of some type anyway, right?

[2017-05-01 18:04] spouliot commented on #222
Mono is kind of a requirement anyway since the .dylib (to embed) come from it (for macOS + system mono). The other options requires either XM or XI and both of them requires mono to be installed.

[2017-05-01 18:06] chamons commented on #222
Fair enough. Then I lean towards .zip file for simplicity or a pkg for possible ability to upgrade in place later.

I know almost nothing about nuget though...

[2017-05-01 18:12] VincentDondain commented on #222
I vote for **pkg**.

- zip is too brutal
- I don't see how dmg is a good option for command line tools
- Nuget is good for how easy it is to release but I'm not quite sure how to call the tool within the bundle from command line (also after a quick discussion with Mikayla she didn't show a particular desire to take the Nuget approach, so likely no strong value).

About pkg:

Sounds great to me and

[2017-05-01 18:14] chamons commented on #222
If we shove in /Library/Frameworks/ (which is 👍  by me) let us consider making a Commands subfolder like XM:

/Library/Frameworks/Xamarin.Mac.framework/Commands

where we have sym links to the "real" command. It's a friendly touch that Aaron added a long time ago that XI doesn't have (yet).

[2017-05-01 18:14] timrisi commented on #193
While perhaps the simplest solution, it ALSO breaks the method naming conventions from apple if you drop the argument from the methods name

[2017-05-01 18:25] spouliot commented on #222
I also prefer a .pkg but that's mostly because it's a known beast :)

The nuget sounded potentially interesting to cover Windows/VS and to have an easier way to upgrade when new versions are published.

[2017-05-01 18:26] VincentDondain commented on #193
You are right, I forgot to remove my last comment, I was looking at cases that were misleading and figured out afterward (:

The first argument **is always used** in the main method's name.

In some cases like Sebastien pointed out it's not with a middle preposition like:

[code]

But even if not perfect it wouldn't be that bad/wrong with `With` and the argument name.

[code]

[2017-05-01 18:33] spouliot commented on #223
Documentation is already kept inside `/docs` for PR (reviews) and simultaneous commit with the associated feature. The getting started guides will be added along with existing documentation.

Right now (subject to change) docs are published thru Github Pages at https://mono.github.io/Embeddinator-4000/ and requires a merge to master to become visible.

[2017-05-01 19:06] VincentDondain opened #225 "IKVM issue when trying to e4k mscorlib.dll"
Here's the command and exception: https://gist.github.com/VincentDondain/46b3ed7f4e73799a46be83914de47c9d

I'm using the latest version of `e4k/objc` branch: Embeddinator-4000 v0.1 (objc: 32ea4c0) and Mono version 5.2.0.48 (master/645d38b).

[2017-05-01 20:02] spouliot opened #228 "[objc] Optionally expose managed exceptions as `NSError`"
We could, optionally, expose managed exceptions using an extra `NSError` parameter. E.g.

[code]

could become:

[code]

instead of

[code]

However this is not something we want to add, automagically, on every API (it would not work in many cases) so we need a way (attribute?) to specify when this should be generated.

[2017-05-01 20:15] chamons commented on #155
https://github.com/mono/Embeddinator-4000/pull/224 landed.

[2017-05-01 20:15] #155 closed

[2017-05-01 20:22] spouliot opened #229 "[objc] Add support for nullable"
This is technically a subset of generics [1] support but we can interop without the needs of generics (on ObjC side).

[1] but because of its C# syntax people often _forget_ it's a generic

[2017-05-01 20:49] timrisi opened #230 "Test target libmanaged-iosTests encountered an error (Early unexpected exit, operation never finished bootstrapping - no restart will be attempted)"
From PR215: https://github.com/mono/Embeddinator-4000/pull/215

https://jenkins.mono-project.com/job/embeddinator-4000/225/

[2017-05-01 20:58] spouliot commented on #207
PR #226 moved forward but the test case fails later with:
[code]

[2017-05-01 20:58] chamons commented on #207
I did not re-go back to the base case after finding the first issue.

[2017-05-01 21:20] spouliot opened #232 "[objc] Add support for generics"
Small description, big task :)

Dealing with nullable will be handled separately - https://github.com/mono/Embeddinator-4000/issues/229

[2017-05-01 21:37] chamons commented on #197
I'm happy to bite off that mmp work, but i'm not sure what it'd entail.

Can someone point me to the equivalent mtouch code?

[2017-05-01 21:57] spouliot commented on #207
The next one (hidden until I PR a fix for [1]) happens at compilation time

[code]
error EM0009: The feature Returning type Nullable1 from native code` is not currently supported by the tool
[code]

[2017-05-01 22:06] VincentDondain opened #235 "[general] Confusing command line options to set the compilation target"
To set the compilation target you can either:

Pass: `--dll, --shared, --static`

or

`--target=VALUE`

-----

First of all I believe that if you use `--dll` and then `--static` you're overriding the first option, not generating both so that's confusing.

Then when looking at both options and reading descriptions, people might be thinking it's two different things.

Last, in case we do want to kee

[2017-05-01 22:07] VincentDondain commented on #235
I vote for just using `--target` and add the values that are not listed in the description.

[2017-05-01 22:09] realvictorprm commented on #235
I think the same @VincentDondain, I would volunteer for overhauling this

[2017-05-01 22:47] VincentDondain opened #237 "[objc] Not sure why I need --debug to compile and get a framework"
`mono ./bin/Debug/objcgen.exe -o /Users/vidondai/Desktop/Output ../tests/objc-cli/debug/managed.dll --target=framework -c -platform=ios` > doesn’t work

Non working scenario [gist file](https://gist.github.com/VincentDondain/227e1e39d53f64d4038a99dc6e1fb50b).

`mono ./bin/Debug/objcgen.exe -o /Users/vidondai/Desktop/Output ../tests/objc-cli/debug/managed.dll --target=framework -c -platform=ios --d

[2017-05-01 23:37] spouliot commented on #237
The answer to the question is in your gist ;-)

[2017-05-02 00:48] spouliot commented on #237
PR #238 has a fix, a workaround and enable iOS/release in the tests built on the bots.

Assigning to @rolfbjarne for a proper fix to replace the workaround (which disabling stripping native symbols).

[2017-05-02 00:55] spouliot commented on #235
The existing arguments are made to be identical across both implementations, so a script can switch between them.

@tritao I'd rather like the proposal to drop all single arguments (they are noisy) in favour of the extensible `--target=X` one. It's still a good time to clean up before too much documentation and developers/scripts starts to depend on them. Do you see any issue with this ?

[2017-05-02 01:12] spouliot opened #239 "[objc] subscript without setters throws a NullReferenceException"
while trying to duplicate #225 I got this `NullReferenceException` (with newer version of Mono). The code that throws is

[code]

because `pi.GetSetMethod ()` returns `null` for

[code]

since it only has a getter [1]

[1] https://msdn.microsoft.com/en-us/library/system.security.permissions.keycontainerpermissionaccessentrycollection.item(v=vs.110).aspx

[2017-05-02 01:32] spouliot opened #241 "[objc] Add support for nested types"
Public nested types can be exposed in API, e.g. [1]

So they need to be processed and their names should, by default, be generated like an extra namespace.

[1] https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.configuredtaskawaitable.getawaiter(v=vs.110).aspx

[2017-05-02 01:38] spouliot commented on #225
@VincentDondain I don't have that 4.8.1 version of mscorlib and I'm getting different results. It would be useful to extract a test case so it can be added to our test suite.

[2017-05-02 09:55] tritao commented on #235
@spouliot No issue, it's a good idea, iirc the single arguments were added before the general `--target` option was added and don't make sense to exist anymore.

[2017-05-02 13:24] chamons commented on #207
Good catch. Let me PR that as well...

[2017-05-02 14:05] VincentDondain commented on #225
FYI same issue with 5.2.0: https://gist.github.com/VincentDondain/9f6e4477a89691dea5abc88e191ca371

[2017-05-02 14:27] chamons commented on #207
I think it's not an issue with the return type as much as that we're not mutating the selector name to have type.

- (int)doItInt32:(int)i;
- (int)doItDouble:(double)d;
+ (instancetype)division:(int)c1 alloperators:(Methods_AllOperators *)c2;
+ (instancetype)division:(Methods_AllOperators *)c1 int64:(long long)c2;

[2017-05-02 14:30] chamons commented on #207
We're not appending the type to division here:

https://github.com/mono/Embeddinator-4000/blob/objc/objcgen/objcgenerator-helpers.cs#L34

since method.IsSpecialName but we _are_ detecting it is a duplicate.

[2017-05-02 15:32] spouliot commented on #223
PR #243 has the base for getting started, which should split into separate docs to cover macOS (@dalexsoto) and iOS (@rolfbjarne)

[2017-05-02 16:14] chamons commented on #239
My subscript code was dumb. It never considered the possibility of get or set only items.

[2017-05-02 17:29] spouliot commented on #239
PR 245 was merged

[2017-05-02 17:29] #239 closed

[2017-05-02 21:13] spouliot commented on #195
PR #215 was merged

[2017-05-02 21:13] #195 closed

[2017-05-02 21:23] spouliot commented on #207
@chamons the PR was merged but I still get similar errors, e.g.

[code]

maybe you did not fix all the cases ?

[2017-05-02 21:31] realvictorprm opened #248 "[Windows] Fix windows test support"
The tests are not generateable on windows yet. Though adding compatibility for VS would be appreciated it's easier to fix the existing system and use make on windows too.

I already prepared fixes though they're not ready yet, so please stand by, see PR #278.

### Java tests fail with following log:
[code]

### ~C tests fail with following log:~ (Fixed)
[code]

[2017-05-02 21:39] spouliot commented on #235
@realvictorprm are you able to test your changes in the `objc` branch ? or would you rather just remove them from `master` and someone else will do the same for the `objc` branch ?

[2017-05-02 21:53] spouliot opened #249 "[objc] Extensions methods on primitive types (e.g. `int`) cannot be directly transformed into categories"
In ObjC categories can only be made on interfaces (classes or protocols) not on primitive types.

In some case, e.g. `int`, we _could_ generate them on `NSNumber` - but that would create another set of issues (e.g. extension methods that exists in `int`, `long`, `float`, `double`...)

A less problematic way would be to create a static type (with static) and require the `this` argument to be specif

[2017-05-02 22:27] tritao commented on #248
By the way, previously the tests were run through MSBuild logic, and were runnable through VS, but as VS does not support Java or Objective-C the system was a little bit limited so I rewrote it to use Make, for better extensibility and also easier integration with the work from obj-c branch.

[2017-05-02 23:33] spouliot commented on #207
PR #244 was merged

[2017-05-02 23:33] #207 closed

[2017-05-03 09:03] realvictorprm commented on #248
yeah like we discussed @tritao
I'll only apply the changes which are needed to make them generateable regardless of the os

[2017-05-03 15:20] spouliot opened #254 "[objc] Map `System.Decimal` with `NSDecimalNumber`"
Add back and forth conversion between .NET `System.Decimal` and Foundation `NSDecimalNumber`

[2017-05-03 15:44] spouliot commented on #249
PR #249 was merged

[2017-05-03 15:44] #249 closed

[2017-05-03 16:05] chamons commented on #221
https://github.com/mono/Embeddinator-4000/pull/247 landed.

[2017-05-03 16:05] #221 closed

[2017-05-03 17:58] spouliot commented on #222
The getting started guide will need to be updated afterward
https://github.com/mono/Embeddinator-4000/blob/objc/docs/getting-started-objective-c.md#installation

[2017-05-03 20:39] VincentDondain commented on #225
Worked with `/Library/Frameworks/Mono.framework/Versions/4.9.3/lib/mono/4.5/mscorlib.dll`

[2017-05-03 21:00] spouliot commented on #204
Not sure I like them better but the closest Apple offers seems to be `NSDecimalNumber`
https://developer.apple.com/reference/foundation/nsdecimalnumber?language=objc

However the core issue is about consistency between the operator overload and the friendly-named methods. We can change the name later - but they should be, and remain, consistent.

[2017-05-03 21:53] VincentDondain opened #259 "[objc] Special case System.String when generating from mscorlib.dll"
When running e4k on mscorlib.dll `System.String` is generated as `NSString *`

[code]

Because of this the generation of `property_type`, `field_type`, `return_type` and parameter type is wrong and we get some `NSString * *` or `NSString **`.

E.g.

[code]

I believe we should special case `System.String`.

[2017-05-04 02:09] spouliot commented on #176
This idea need a bit more work (on the PR) to work correctly with the managed linker (on iOS and also if XM is used). See https://github.com/mono/Embeddinator-4000/pull/251#issuecomment-299082288 for details.

[2017-05-04 05:17] rolfbjarne commented on #113
This was implemented in PR #149.

[2017-05-04 05:17] #113 closed

[2017-05-04 13:54] rolfbjarne commented on #197
I've mostly done this for mmp already (locally).

[2017-05-04 14:57] chamons commented on #204
When done we should update the docs (see https://github.com/mono/Embeddinator-4000/pull/255)

[2017-05-04 16:41] rolfbjarne commented on #217
I'm not sure it's possible to implement virtual methods without some kind of runtime support:

[code]

[code]

[2017-05-04 16:51] rolfbjarne commented on #223
iOS docs in PR #266.

[2017-05-04 16:59] rolfbjarne commented on #230
We don't collect enough information when running the tests to figure out what's happening here 😞

[2017-05-04 17:45] spouliot commented on #217
yeah, I'm not even sure if we want to go that deep - that's more than just embedding. Sadly it remains non-obvious from a library consumption point of view (which might not know about the embeddinator)

[2017-05-04 17:50] spouliot commented on #222
PR #258 (installer) and https://github.com/mono/Embeddinator-4000/pull/263 (docs) are both merged

[2017-05-04 17:50] #222 closed

[2017-05-04 17:55] rolfbjarne commented on #217
Maybe we should add comments that says that methods shouldn't be overridden: https://softwareengineering.stackexchange.com/a/183706?

[2017-05-04 18:08] rolfbjarne commented on #175
If we generate a binding that only allows `nil` for a parameter, we can remove that parameter from the bound signature, and automatically pass it ourselves.

[2017-05-04 19:00] spouliot opened #268 "[objc] packager install location"
Packager install in
`/Library/Frameworks/Xamarin.Embeddinator-4000/`

and to be similar with our other packages it should be
`/Library/Frameworks/Xamarin.Embeddinator-4000.framework/`

[2017-05-04 19:03] spouliot commented on #217
Not ideal but, like your link mention, it's ObjC after all :)

There's quite a few more things we should auto-comment in the headers. Having a @warning on each (with a link to our docs to explain why) sounds like a reasonable approach.

[2017-05-04 19:12] spouliot commented on #175
Removing the parameter could cause dupes (but we could cope for them) but it's not the main reason I'd like to keep it there :)

There's the possibility of having an API that returns (from managed) a `IFormatProvider` and it should be usable in that case. E.g. UnitsNet (in our sample) has something similar, i.e. it provides an API that returns a `CultureInfo` (which implements `IFormatProvider`).

[2017-05-04 19:37] spouliot commented on #268
Note that current documentation will need to be updated to match...
OTOH all other directories under `/Library/Frameworks/` do end with `.framework`

[2017-05-05 15:55] chamons commented on #268
My bad. Fixing

[2017-05-05 15:58] chamons commented on #268
PR up: https://github.com/mono/Embeddinator-4000/pull/273

[code]

[2017-05-05 16:11] spouliot commented on #241
PR https://github.com/mono/Embeddinator-4000/pull/262 was merged

[2017-05-05 16:11] #241 closed

[2017-05-05 20:07] chamons commented on #268
https://github.com/mono/Embeddinator-4000/pull/273 is landed

[2017-05-05 20:07] #268 closed

[2017-05-05 20:10] chamons opened #276 "[Architectural] ImplementMethod should work on ProcessedMethod and GetSignatures should be moved into ProcessedMethodBase"
Right now ImplementMethod and GetSignatures are dumping grounds with a ton of arguments and more on the way.

The correct architectural involves the processor/post processor determining signatures and the generating accepting this information to generate code. That's the sane way to handle duplicates / attributes renaming things / etc.

[2017-05-05 20:16] VincentDondain opened #277 "[Package] Add Library/Frameworks/Xamarin.Embeddinator-4000.framework/Commands to $PATH"
See conversation in https://bugzilla.xamarin.com/show_bug.cgi?id=55930

Also, one internal fellow had “issues” after installing embeddinator thinking the install didn’t work because we don’t modify `$PATH`.

[2017-05-05 20:18] dalexsoto commented on #277
➕ 1 got the same comment from another internal tester

[2017-05-05 21:48] GouriKumari opened #279 "Binding the managed assembly for iOS is giving errors"
Steps to reproduce:
Install Xamarin.Embeddinator-4000-0.1.0.9.pkg
Create a hello-from-csharp project and build it as mentioned in https://mono.github.io/Embeddinator-4000/getting-started-objc-ios.html.
Bind managed assembly.

Actual Behaviour:
https://gist.github.com/GouriKumari/89719045703ead91b442e25b0b626472

Test Env:
https://gist.github.com/3a85edd26f87064100986beb9d819216

[2017-05-06 15:50] spouliot commented on #279
@GouriKumari

from your gist

from the [guide](https://github.com/mono/Embeddinator-4000/blob/master/docs/getting-started-objc-ios.md#requirements)
* **Xamarin.iOS from our master branch.**

[2017-05-06 15:50] #279 closed

[2017-05-06 16:56] spouliot commented on #223
Both PR were merged and everything is also on master.

[2017-05-06 16:56] #223 closed

[2017-05-08 13:19] spouliot commented on #276
@chamons https://github.com/mono/Embeddinator-4000/pull/284 is a step in that direction

[2017-05-08 14:33] spouliot commented on #189
PR #252 was merged

[2017-05-08 14:33] #189 closed

[2017-05-08 16:31] rolfbjarne opened #286 "Add version checks to the generator to ensure minimum dependencies are installed"
It's becoming frequent to try iOS support with XI 15.2, which won't work.

A nice error telling that a newer version is needed would help users a lot.

[2017-05-08 18:43] VincentDondain commented on #235
Fixed in `objc` branch: https://github.com/mono/Embeddinator-4000/pull/288

I'll leave this bug open so it's also fixed in master.

[2017-05-08 18:44] VincentDondain commented on #277
Fixed in https://github.com/mono/Embeddinator-4000/pull/280

[2017-05-08 18:44] #277 closed

[2017-05-08 22:07] realvictorprm commented on #235
I'm very sorry I missed the message

Am 08.05.2017 20:43 schrieb "Vincent Dondain" <notifications@github.com>:

[2017-05-09 03:50] dalexsoto commented on #254
@rolfbjarne / @spouliot I am facing an issue with current implementation (PR #292) in iOS simulator, to get you some context the generated code looks like this.

[code]

All works great on the Mac but in iOS simulator the `ToString (IFormatProvider)` lookup function is returning `NULL`

[code]

Do you guys have an idea on why this could be happening?

[2017-05-09 06:07] rolfbjarne commented on #254
It was probably linked away.

I guess we'll need a to pass a custom xml linker file to mtouch to tell the linker what we need.

[2017-05-09 12:48] rolfbjarne opened #294 "How to expose managed structures"
Currently the embeddinator exposes managed structures as NSObjects.

This has a few advantages:

* It allows methods/properties on the exposed type. C structs can't have methods/properties.
* It's easy to expose, since most (all?) of the code applicable to classes can be re-used.

It also has a few disadvantages:

* It's slower and more memory hungry. In many cases structs are used to automaticall

[2017-05-09 12:52] rolfbjarne commented on #294
A corollary to this is that we also need to improve how the static registrar exposes structs, because currently the fake structures look like this:

[code]

which is just plain _ugly_.

[2017-05-09 12:53] #286 closed

[2017-05-09 15:03] chamons commented on #204
https://github.com/mono/Embeddinator-4000/pull/290 is in.

Let me update docs and then we can close this.

[2017-05-09 15:19] spouliot commented on #294
I'd like to avoid switching to Objective-C++ (unless we make it an option as a different language) since it's an additional requirement we would impose on the consumers of the generated libraries / frameworks.

Your alternative is interesting. Variations could be

* generate C (CF* like) API for structs; or
* expose the managed `struct` as both a `struct` and a class which wraps it ?

Note: the pe

[2017-05-09 15:27] spouliot commented on #294
Side notes
* we should document the _promotion_ of value types to `NSObject`
* the work on the registrar can go ahead independently (it ease readability/debugging)

[2017-05-09 15:27] rolfbjarne commented on #294
Performance can be interesting... consider this:

[code]

The latter (NSObject version) is much slower, because it'll have 5 managed transitions (1 to get the struct + 4 to get each property), as opposed to the struct version, which only has 1 managed transition (to get the struct).

I don't see the point in exposing both a native `struct` and a wrapping (native) `class`, IIRC the only difference

[2017-05-09 15:55] spouliot commented on #294
Keeping in mind it's early enough to do breaking changes in the generated API :)

The point would be to keep our existing approach (with its pros and cons). It allow developers to call methods on managed structs with an OO API **without C++** like:

[code]
instead of
[code]
each requiring a single transition, the former being _cuter_ to read (and write).

This offers also the possibility to access

[2017-05-09 18:08] spouliot commented on #254
It's the same issue as https://github.com/mono/Embeddinator-4000/pull/251#issuecomment-299082288
We'll need to track SDK types/members using a generate an XML file.

It's also trickier in release, (where `TOKENLOOKUP` is defined, since the token might exists but for something else as the assembly was re-written. No good solution for this one (we'll not regenerate the bindings) we we'll need to tur

[2017-05-09 18:41] rolfbjarne commented on #254
Actually we'll need to turn off `TOKENLOOKUP` for all assemblies when the linker is executed, because the linker will re-save all assemblies, even those not linked (at least for XM, where I ran into this today).

[2017-05-09 18:43] rolfbjarne commented on #294
I agree the Objective-C API looks better than any C API can :smile:

But I see your point now (when you said "class which wraps it", I thought you meant C++ class, not Objective-C class). That's an interesting middle ground.

[2017-05-09 19:23] spouliot commented on #254
@rolfbjarne good point, it's not always (for XI) but there are cases where a save can be done. Maybe we could put all the `XXX_TOKEN` into a separate header ? That way we could be re-generate independently... I'll file another issue with this (low priority until more measurements are done), until then we can disable the feature for XI/XM.

[2017-05-09 19:34] chamons commented on #225
I am getting same exact issue with:

https://www.dropbox.com/s/hj3nhdt23lpjx6b/mscorlib_ikvm.dll?dl=0

It appears we're calling:

			switch (t.Namespace) {

in objcgen/objcprocessor.cs:50

and here:
[code]

		public override string Namespace
		{
			get { return DeclaringType.Namespace; }
		}

DeclaringType is null for Array.Sort

[2017-05-09 19:58] spouliot commented on #225
weird, it might be worth checking if we're using the latest IKVM.Reflection - that might already be fixed (along other things).

[2017-05-09 21:47] VincentDondain commented on #194
@spouliot I believe we could use the same input types as https://github.com/mono/Embeddinator-4000/blob/objc/objcgen/NameGenerator.cs#L10-L31 (used for https://github.com/mono/Embeddinator-4000/issues/195).

We'd have some mapping like this:

[code]

You asked "where it helps and if/where it does not", the answer is it helps with at least the types above.
I also think we'll have to handle this **c

[2017-05-09 21:52] spouliot commented on #194
make sense, that's a good starting point :)

[2017-05-09 22:48] timrisi commented on #219
PR 299

[2017-05-10 01:25] dalexsoto opened #301 "Add linker XML file option to objcgen driver"
`decimal` support needs `decimal.ToString(System.IFormatProvider)` to not be removed by managed linker (for X.I and X.M eventually). In PR #292 I added a `linker.xml` file and gave it to mtouch as a workaround, but we need to generate this file based on the types generated and also add an option to objcgen so users can provide their [XML linker definitions](https://developer.xamarin.com/guides/cro

[2017-05-10 01:56] spouliot opened #302 "[objc] Add support for unsafe pointers"
e.g. `public void Copy (byte* ptr, int length);`

[2017-05-10 02:04] spouliot commented on #301
This is blocking me for #176 so I'm picking it up :)

[2017-05-10 07:06] timrisi commented on #219
Merged

[2017-05-10 07:06] #219 closed

[2017-05-10 09:01] rolfbjarne opened #304 "[objc] Figure out how to make metadata token lookup work with the linker"
See PR #303 - we currently have to disable metadata token lookup when the linker is used, because the linker may re-save any assembly (even those not linked).

There are a few solutions, but all non-trivial:

1. Change the linker to not change metadata tokens for assemblies that are only re-saved, not linked. This is only a partial solution, because it won't work for linked assemblies.
2. Run the

[2017-05-10 12:25] spouliot commented on #304
3. but I'm not sure what you mean by _external file (instead of in the compiled file)_. I see two different variations:

3.a. external **data** file (not compiled)

The extra time to load and query the _data_ file might reduce (or even remove) the _runtime_ gains of using tokens. That needs measurement (periodic because results might changes over time, e.g. mono updates).

3.b. external file (comp

[2017-05-10 12:32] rolfbjarne commented on #304
3a. Yes, my idea was an external *data* file, similar to the aot data files we're now using in Xamarin.iOS. With some care with the data format, the extra time to load this file into memory and use the data should be very low (my current idea is to just write an array of ints into this file, and the generated code contains indexes into this array, which means that at runtime each access is just on

[2017-05-10 12:50] spouliot commented on #304
Unless someone comes up with a better idea then 👍 to **3a**

[2017-05-10 13:02] spouliot opened #309 "[objc] Issues compiling for arrays"
A method with a signature like

`Boolean TryParseExact(System.String, System.String[], System.IFormatProvider, System.TimeSpan&)`

(from `TimeSpan`) generates code that won't compile

[code]

The signature includes `string[]` which is suspicious (missing convert?)

This is blocking a fix for issue #176 since it's not possible to compile UnitsNet anymore

[2017-05-10 14:16] spouliot commented on #104
PR #203 was merged

[2017-05-10 14:16] #104 closed

[2017-05-10 15:51] spouliot commented on #309
re-assigning, easier to fix than workaround :)

[2017-05-10 16:46] spouliot commented on #309
PR #309 merged

[2017-05-10 16:46] #309 closed

[2017-05-10 20:56] VincentDondain opened #313 "[objc] Value of unit testing objcgenerator-helpers.cs's GetSignatures and by extension NameGenerator?"
I would like someone to _enlighten me_ on the benefits / non benefits of unit testing `GetSignatures` and `NameGenerator`.

I know that the current way to test the generated code is to add a bunch of managed code that's supposed to cover all the corner cases and assert it works in objective-c using XCTest.

Meaning that the simple way the objective-c code **compiles** is fine.

However having extr

[2017-05-10 23:39] timrisi opened #314 "[objc] Passing arrays as refs"
Found while attempting to bind mscorlib:

```error EM0009: The feature `Converting type System.Byte[] to mono code` is not currently supported by the tool```

Error occurs on the type ```System.Resources.ResourcesReader``` from the method

```Void GetResourceData(System.String, System.String&, System.Byte[]&)```

[2017-05-11 00:23] timrisi commented on #225
I was getting the original error when I started, but am unable to reproduce it now.

I did get to another error: https://gist.github.com/timrisi/5e79d4447700ee7c7c403239b0f165cd which should be fixed by PR#316.

After fixing that, I hit another error (NotImplementedException) for a method that passes a byte array by reference (Issue #314, @dalexsoto is going to fix).  Temporarily changing that to

[2017-05-11 00:33] dalexsoto commented on #225
Yep on it!

[2017-05-11 02:39] spouliot opened #320 "[objc] Map `System.DateTime` with `NSDateTime`"
Add back and forth conversion between .NET `System.DateTime` and Foundation `NSDateTime`.

Similar to https://github.com/mono/Embeddinator-4000/issues/254 (for decimal support) but requires extra timezone / UTC support.

WRT to `DateTimeKind.Unspecified` we should document it to follow MSDN documentation [1],

This instance of DateTime is assumed to be a UTC time, and the conversion is performed a

[2017-05-11 07:43] rolfbjarne opened #322 "Add more information to error messages about which API caused problems"
Sample error from Slack:

it would be nice if this error message also said exactly which member it found the problematic type (it should even be possible to show the source file + line number if the processed dll has debug info).

This would help any customers running into these types of problems to work around such limitations.

This is not only for EM0009, but any error message that can be track

[2017-05-11 09:30] rolfbjarne opened #323 "Multi-dimensional arrays"
Looking at PR #321 I wondered how (if?) we support multi-dimensional arrays:

[code]

I think we can support the `[][]` variant (it's just an array of arrays), but the other variant (`[,]`) probably not because NSArray doesn't support multiple dimensions.

[2017-05-11 13:03] dalexsoto commented on #314
@timrisi fixed! Decimal is pending

[2017-05-11 16:12] VincentDondain commented on #194
Closing since https://github.com/mono/Embeddinator-4000/pull/315 has been merged.

[2017-05-11 16:12] #194 closed

[2017-05-11 16:40] spouliot commented on #314
PR #321 was merged

[2017-05-11 16:40] #314 closed

[2017-05-11 16:42] rolfbjarne commented on #237
This was fixed with PR #305.

[2017-05-11 16:42] #237 closed

[2017-05-11 16:42] spouliot commented on #254
PR #292 was merged

[2017-05-11 16:42] #254 closed

[2017-05-11 16:55] spouliot commented on #175
pr #284 was merged

[2017-05-11 16:55] #175 closed

[2017-05-11 17:09] timrisi commented on #225
Between PR316 and issue #314 having been fixed, I'm now ablet o generate mscorlib without any errors

[2017-05-11 17:09] #225 closed

[2017-05-11 19:14] SamuelEnglard opened #331 "MSbuild Task/Visual Studio Integration"
Would be nice to be able to have this as part of my MSBuild chain, so when I build the .NET assembly I can have it automatically build the "native" wrapper

[2017-05-11 19:20] realvictorprm commented on #331
@SamuelEngland First need to fix test environment

[2017-05-11 19:22] SamuelEnglard commented on #331
@realvictorprm no rush 😄

[2017-05-12 02:27] spouliot commented on #176
PR #327 was merged, showing _the way_ to expose more BCL code as needed.

[2017-05-12 02:27] #176 closed

[2017-05-12 02:45] spouliot commented on #313
Value? yes, it's not a boolean so there's always value :-)

This is not a case where tons of tests are likely to give tons more value. OTOH it's cheap to test and what's not tested generally does not work (for very long). So having a few tests covering the rules and corner cases seems a very good idea. You'll be quickly hit by the _law of diminishing returns_ if you try to add more.

1. You can de

[2017-05-12 02:45] spouliot commented on #204
PR #297 was merged

[2017-05-12 02:45] #204 closed

[2017-05-12 02:51] spouliot commented on #301
The main work was done in PR #327

There's no need to merge the .xml files (the generated one with a user provided one) since the underlying tool (mtouch or mmp) can accept the `--xml` argument several times.

I'm also unsure if we should expose `--xml` in e4k options... there's likely a scenario that requires every mtouch/mmp option to be exposed. I think we need a more general approach that woul

[2017-05-12 02:51] #301 closed

[2017-05-12 03:01] spouliot opened #334 "Passing extra arguments down to the tools e4k calls"
e4k can (optionally) compile the code it generates, e.g. using `clang`. It would be useful for the user to be able to add extra files (#130) and also other arguments to compile (and to link). Otherwise the caller has to re-implement parts of e4k logic to build his custom project.

The same happens when e4k calls SDK packaging tools , e.g. `mtouch` or `mmp`. We do not want to add every possible opt

[2017-05-12 03:21] dalexsoto commented on #334
Yeah kinda like sharpie does for clang with the -c option, this is a great idea, I think I like more your format

`--compiler-extra-args="... unvalidated options given to the compiler ...` than the `-c` way in sharpie

[2017-05-12 16:28] spouliot commented on #130
moving into #334

[2017-05-12 16:28] #130 closed

[2017-05-12 19:41] chamons opened #337 "TextTransform.exe invocation is not cross platform safe."
https://github.com/mono/Embeddinator-4000/pull/335#issuecomment-301167726

[2017-05-12 21:19] spouliot commented on #331
c.c. @mhutch who has been thinking about IDE integration for e4k

[2017-05-13 10:25] realvictorprm commented on #337
I did not encounter issues with this yet on windows, did I missed something?

Currently working on  #278, that's why I'm asking.

[2017-05-13 14:27] lukaskollmer opened #340 "Typo in the Logo?"
I don't know if this is intentional, but I just noticed that, while the repo name spells "Embe**dd**inator" with two "d"s, the logo embedded at the top of the readme spells "Embe**d**inator" with just one "d".

![image](https://cloud.githubusercontent.com/assets/6547384/26026287/e3f91d3c-37f8-11e7-9b3e-e1755b7651a8.png)

---

![](https://raw.githubusercontent.com/mono/Embeddinator-4000/master/e400

[2017-05-13 16:01] tritao commented on #340
cc @migueldeicaza who added the logo

[2017-05-13 18:16] realvictorprm opened #341 "[Java] Tests don't pass on windows"
Even though the PR isn't merged yet I already can tell that the Java tests pass only partly on Windows.

The current error output is:
[code]

[2017-05-13 20:09] realvictorprm opened #343 "[C] Tests fail on Windows"
The tests for C pass only partly on windows.

Log is here:
[code]

Tested through using my PR #278

[2017-05-13 20:13] tritao commented on #343
`LONG_MIN` is 32-bits on Windows, which is why it fails.

[2017-05-13 20:14] realvictorprm commented on #341
Will merge this with one issue

[2017-05-13 20:14] #341 closed

[2017-05-13 20:15] tritao commented on #343
See http://en.cppreference.com/w/cpp/types/integer, `INT64_MIN` and friends.

[2017-05-13 20:34] realvictorprm commented on #343
fixed in #278

[2017-05-13 20:34] #343 closed

[2017-05-15 13:13] spouliot commented on #337
Fixed in `objc` branch (PR #338 merged), removing milestone.

[2017-05-15 13:31] spouliot commented on #323
@dalexsoto please add them to the tests, minimally started with a warning that it's not supported (and make sure we don't generate code that won't work).

[2017-05-16 08:13] sinkingsugar opened #345 "Property getters and generics."
Not sure if it has been reported or it is a known issue but I have a stack-overflow in property visitor when a generic class has a `where T : type`.
The following code can reproduce the issue.
If I replace the property with a `GetListeners` method it works.

[code]

[2017-05-16 08:15] realvictorprm commented on #345
Which generator?

[2017-05-16 08:15] sinkingsugar commented on #345
c generator, was targeting iOS

[2017-05-16 09:30] tritao commented on #345
I can repro the issue locally.

[2017-05-16 09:32] realvictorprm commented on #345
@tritao Nah looks like bug fixes come first.

[2017-05-16 09:49] sinkingsugar commented on #345
can repro with objc backend too it seems.

[2017-05-16 09:58] tritao commented on #345
This is a general regression when processing the assembly added in https://github.com/mono/Embeddinator-4000/commit/3af3f6e6a1381a065354dc1aeffe594e6f1f2cdf.

I should have a fix soon.

[2017-05-16 11:34] #345 closed

[2017-05-16 11:52] realvictorprm commented on #248
fixed with #278

[2017-05-16 11:52] #248 closed

[2017-05-16 12:30] spouliot opened #346 "[objc] We should warn/rename anything that overrides NSObject type/protocol"
E.g. one of our existing test expose `Class`, which means we override `class` and that's pretty bad.
E.g. `hash` is fine if it’s our `GetHashCode`, not if it’s something else

internal link: https://xamarinhq.slack.com/archives/C07K1594N/p1494936852477097

c.c. @chamons since the best place to do this is likely after (or part) of the dupe check

[2017-05-17 15:48] kylekurz commented on #232
+1

[2017-05-17 15:50] kylekurz opened #349 "Attempted to run objcgen against an F# dll, output asked me to file a bug."
Not sure if you expect this to be supported yet, but the summary sounds like you think it *should* work for F# code.

[code]

[2017-05-17 18:31] spouliot commented on #349
Thanks for the report. This is a bug in `IKVM.Reflection`, it should not throw a `NullReferenceException`.

@tritao did you find out if mono's fork is the latest version ?

[2017-05-17 18:39] tritao commented on #349
@spouliot So there was some work around https://github.com/jfrijters/Managed.Reflection as an alternative for IKVM, but from what I gathered this work is now in limbo too as well as IKVM, so the our best bet is to cherry pick the needed fixes from upstream to get our fork up-to-date and maintain it ourselves going forward.

[2017-05-18 09:52] lemonmojo opened #351 "Support for Events/Callbacks/Delegates/etc"
First of, awesome work with this project! It's already quite usable even at this early stage.

The one feature I'm really missing though is support for somehow calling back into native code from managed. Right now there doesn't appear to be any way to achieve this.

I tried events, c# delegates and System.Action. All of those are either ignored by objcgen or throw an error during generation.
I als

[2017-05-18 10:47] lemonmojo commented on #351
Just found a workaround by using NSNotificationCenter. Good enough for the time being.

[2017-05-18 15:43] spouliot commented on #351
Unlike Xamarin.iOS and Xamarin.Mac, E4K is not a runtime (nor do we plan to make it one) but _only_ a generator.

That makes callbacks, from managed to native, tricky (if they cannot be directly generated code). This is a known issue and already tracked in #217. It's also documented in https://mono.github.io/Embeddinator-4000/Limitations.html (under **Subclassing**, which is a case we're not likel

[2017-05-18 16:28] spouliot commented on #351
It would be helpful if you can file issue on those, with test cases (e.g. signatures). We should only warn (and skip) unsupported stuff, the rest needs fixing :)

[2017-05-19 16:00] chamons opened #356 "Refactoring driver.cs"
It's already 1.2k lines long.

There are multiples classes, so division should be straightforward.

[2017-05-19 16:36] lemonmojo opened #357 "[objc] What's the "correct" way to initialize Xamarin.Mac"
I'm currently playing around with E4k and am hitting a problem when including Xamarin.Mac.

To be able to use Xamarin.Mac it seems to be required to call `NSApplication.Init` on the managed side. Without this I can't call anything Cocoa related on the managed side.

After calling `NSApplication.Init` creating and working with Cocoa objects on the managed side works fine.

However, if I attempt to

[2017-05-19 16:37] lemonmojo commented on #351
Thx for clarification! Will definitely post a sample after I get rid of the issue described in https://github.com/mono/Embeddinator-4000/issues/357.

[2017-05-19 16:44] rolfbjarne commented on #357
1. You need to use the `objc` branch, and build from source.
2. Pass `--platform=macOS-[system|full|modern]` to the embeddinator (see https://github.com/mono/Embeddinator-4000/blob/objc/docs/objc-platforms.md for a description of these options).
3. Also pass `--target=framework` to the embeddinator to create a framework instead of a dylib.

This should produce a framework you'll be able to consume

[2017-05-19 16:45] spouliot commented on #356
This should be done with the work in master. However we need to discuss a few basic things before, including:

* master does not uses the mono source code guidelines (not sure why, it's a mono project);
* sync'ing / merges;

[2017-05-19 17:29] lemonmojo commented on #357
Thx for getting back to me.
I got this to compile now but also had to add `--abi=x86_64`.

[2017-05-19 18:27] lemonmojo commented on #357
Unfortunately I still experience the same issue when using a framework generated by objcgen.
Here's a sample project: https://github.com/lemonmojo/E4kBackgroundTest

1. Open E4kBackgroundTest.sln in Visual Studio for Mac
2. Open the project properties and navigate to "Custom Commands"
3. Adjust the path to objcgen.exe to match your installation
4. Build the C# project
5. Open E4kBackgroundTestApp/

[2017-05-19 20:00] tritao commented on #356
It does not use Mono guidelines because most of the codebase was started in VS in Windows so I just used its defaults, this is not a big issue it should be easy to re-format.

I've been merging the objc branch back into master every couple of weeks so it should be relatively easy to merge up to tip of objc branch.

Next week I'll check the driver code of objc branch in more detail, and send some m

[2017-05-19 20:41] realvictorprm commented on #349
Hm, I'll take a look into this too.

[2017-05-21 22:48] migueldeicaza commented on #340
I struggle with this question.

I think it should be embeddinator, but I could use the help of a strong linguist to give me guidance here, before we go and try to update this logo.

[2017-05-22 07:27] rolfbjarne commented on #357
This happens because we're not calling `mono_jit_thread_attach` before calling into mono.

Basically at the moment you can only do stuff on the same thread you first did something.

[2017-05-22 16:42] rolfbjarne commented on #357
Fix merged.

[2017-05-22 16:42] #357 closed

[2017-05-22 19:16] lemonmojo commented on #357
Working perfectly here, thx!

[2017-05-22 19:35] #276 closed

[2017-05-22 20:31] chamons commented on #259
I believe this patch handles this -https://gist.github.com/cace5af3585db61daf82664c41f360fd

But there is no way to regression test this until we decide/get all of mscorlib building.

[2017-05-22 20:31] chamons commented on #259
@spouliot - Is that worth spending time on?

[2017-05-23 15:54] chamons opened #365 "GetObjcSignature () and GetMonoSignature () really should be private on the Processed Types"

[2017-05-23 20:52] spouliot commented on #259
@chamons not urgent. We should generate correct code first. It's also a moving target as we started (not ended) exposing other types (either directly or by conversion)

[2017-05-24 19:32] chamons opened #369 "Improve "temporary quasi-duplicate" FindDuplicateNames code"

[2017-05-24 19:36] chamons commented on #369
Once https://github.com/mono/Embeddinator-4000/issues/365 goes in, we can mostly depend on ObjCSignature / MonoSignature and use them to determine duplicates.

Biggest issue after that will be finding the right "time" to determine duplicates. ImplementMethod is still shoving changes into the ProcessedMethod _after_ we've post processed, which is too late.

Ideally, we need to push even more decisi

[2017-05-24 19:39] chamons commented on #369
I think the knot of ImplementMethod will have to come first.

[2017-05-24 20:36] #365 closed

[2017-05-24 22:11] chamons opened #370 "Remove ProcessedMemberWithParameters.Invalidate Hack"
This is getting added in:

ProcessedMemberWithParameters.Invalidate

to handle cases where the generator is mucking with the processedfoo's, which should not happen. It should be all in the processor/postprocessor.

[2017-05-24 22:16] chamons opened #371 "Consider "frozen" ProcessedFoo types for processor/generator layer"
The signature caching is one area that is hilighting an architectural flaw in E4K. The ideal world has:

- Processor (ObjCProcessor) - Walks assembly and creates processedfoo types
- Post-processor - Walks the generated processedfoo types and marks them up with information needs to correctly generate code
- Generator - Walks the processed types and outputs could. Does not modify the data structure

[2017-05-25 18:33] sandyarmstrong commented on #340
I don't know if I'm the strongest linguist, but I would suggest that a single "d" is more expected in English.

Would this necessitate a version bump from 4000 to 4001?

[2017-05-25 18:36] iainx commented on #340
It's not the Termminator after all

[2017-05-25 19:13] charlespetzold commented on #340
The consensus (more or less) among the Docs team is that the precedent set by the words "embedded" and "embedding" mandates two D's.

[2017-05-25 19:15] sandyarmstrong commented on #340
I humbly submit to the opinion of the docs team.

[2017-05-25 19:22] spouliot commented on #371
We should move the remaining code and then reduce visibility (prtotected) for all API that mutate state

[2017-05-31 15:30] #370 closed

[2017-05-31 15:31] chamons commented on #371
We now freeze the cache at least. We could extend it to throw or return a new type in the future if we run into more pain.

[2017-05-31 20:14] dalexsoto commented on #320
PR https://github.com/mono/Embeddinator-4000/pull/344 Merged

[2017-05-31 20:14] #320 closed

[2017-05-31 21:41] chamons opened #378 "Duplication check on duplicate class names in obj-c"
Can this case happen? We are not testing for it currently?

[2017-06-01 20:30] chamons opened #381 "[Test] TypeMapper tests"
https://github.com/mono/Embeddinator-4000/pull/377 will likely land without tests, to prevent and slippage into next week.

Changes such as this will be needed on top of 337 to make unit testing possible.

https://gist.github.com/ae25ee50f57e56ab8d8beffccd6eb088

[2017-06-01 21:22] #369 closed

[2017-06-01 22:33] Zomb commented on #351
Does anyone have an example of how to go about doing this using any of the methods mentioned in the Limitations doc? I have tried Interfaces and using NSObject, but not had much luck. Would it be better if I make a sample project with the errors I have and put it on GitHub? Thank you!

[2017-06-02 09:33] lemonmojo commented on #351
In my prototype projects I'm using NSNotifications to work around the lack of events.
You can find an example project here: https://github.com/lemonmojo/E4kBackgroundTest

By declaring interfaces and internal classes that implement those interfaces I can pass objects around between mono and objc as event args.

One caveat of this approach is that any objects you want to expose in your event args m

[2017-06-02 14:12] Zomb commented on #351
Thank you for the sample! Yes, we can use NSNotifications to work around it, I was just wondering if anyone has had any success with using Xamarin.iOS and NSObject to provide a callback, but if not, we will go down NSNotification route!

[2017-06-05 20:31] banshee opened #386 "System.IO.FileNotFoundException: Could not load file or assembly 'Mono.Options, Version=0.2.3.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756' or one of its dependencies."
Followed the build instructions at https://mono.github.io/Embeddinator-4000/Contributing.md.  Try to run objcgen.exe, and I got instructions telling me to file a bug:

[code]

[2017-06-05 20:34] banshee commented on #386
Darwin retina.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64

[2017-06-05 20:54] banshee commented on #386
This was pilot error; I was trying to run objcgen.exe directly, not

[code]

[2017-06-05 20:56] #386 closed

[2017-06-05 21:44] realvictorprm commented on #349
Again, we need to fix this

[2017-06-05 21:45] realvictorprm commented on #349
Or rather I'll fix this because it's important that this library is compatible with F#.

[2017-06-05 23:57] Phrohdoh commented on #340
I may be missing something here but that logo looks like it contains two D's to me.

[2017-06-06 00:33] sandyarmstrong commented on #340
It was just fixed.

[2017-06-06 00:33] #340 closed

[2017-06-12 17:58] chamons opened #393 "[Documentation] Add framework based example to macOS getting started"
Right now it uses dylibs.

[2017-06-13 21:37] realvictorprm opened #397 "Fix monojenkins"
Currently Monojenkins always return build failed.
Any reason for that?

[2017-06-22 20:07] chamons opened #404 "Unable to return NSObjects from property/methods"
An example here:

https://github.com/chamons/Embeddinator-4000/commit/9c963c26fa64a843443035696d88d33ddf4c2e9b

[2017-06-22 20:12] mattleibow commented on #404
I also noticed this. I am trying to wrap SignaturePad (iOS and Android):
 - source: https://github.com/xamarin/SignaturePad
 - NuGet: https://www.nuget.org/packages/Xamarin.Controls.SignaturePad
 - build: https://jenkins.mono-project.com/view/Components/job/Components-SignaturePad/lastSuccessfulBuild/Azure/

Right now there is the limitation of generics as well. I am using `Nullable<bool>`, `Nulla

[2017-06-22 20:14] mattleibow commented on #229
I also noticed this. I am trying to wrap SignaturePad (iOS and Android):
 - source: https://github.com/xamarin/SignaturePad
 - NuGet: https://www.nuget.org/packages/Xamarin.Controls.SignaturePad
 - build: https://jenkins.mono-project.com/view/Components/job/Components-SignaturePad/lastSuccessfulBuild/Azure/

I am using `Nullable<bool>`, `Nullable<float>` and `Nullable<MyCustomStruct>`.

[2017-06-22 21:26] chamons commented on #404
From discussion by @rolfbjarne :

"There's a separation between types that derived from NSObjects and other types
 from NSObject can't expose any NSObject-based types"

"I'm not sure if it's easily fixable, but I haven't thought much about it either
A nicer error would be a good place to begin :)"

[2017-06-23 13:04] #337 closed

[2017-06-24 19:55] lemonmojo opened #405 "[objc] Interfaces within interfaces"
As illustrated [here](https://github.com/mono/Embeddinator-4000/issues/351#issuecomment-305738574) I'm using NSNotificationCenter in my projects to work around the lack of events support in E4k. I declare my event args as interfaces to have them generated as protocols by E4k. I then implement those interfaces using NSObject derived objects and export the individual properties to the ObjC runtime.

[2017-06-25 13:18] lemonmojo commented on #405
Just noticed that the whole interface/protocol dance is not necessary (anymore?) since bindings for types that derive from NSObject are now generated in the registrar-x86_64.h header.
Unfortunately another inconvenience with this is that custom typed properties are surfaced as id instead of the actual type. Here's an example:

C# declaration:
[code]

Generated binding in registrar-x86_64.h:

[code

[2017-06-25 14:08] mattleibow opened #406 "[java] C# decimal is not exposed"
When generating types that have public `decimal` members, they get skipped:

It appears that you may be able to use Java's `BigDecimal`: http://docs.oracle.com/javase/7/docs/api/java/math/BigDecimal.html

[2017-06-25 18:27] mattleibow opened #407 "[java] PCL or .NET Standard libraries crash"
When embedding PCL or .NET Standard libraries, the app will crash while trying to load:

I used the instructions from https://mono.github.io/Embeddinator-4000/getting-started-java-android.html, and got a normal/full .NET library working. As soon as I switched to PCL/NetStandard, then the crash occurs.

[2017-06-25 19:51] mattleibow opened #408 "[java] LINQ crashes Android"
I had a simple LINQ `new [] { 1, 2, 3 }.FirstOrDefault()`, and this crashes:

[code]

If I do a `foreach`, it works. This code also works fine on iOS.

[2017-06-25 20:34] tritao commented on #407
This is probably related to us missing to package PCL facades into the jar.

[2017-06-26 13:55] jonathanpeppers commented on #408
@mattleibow can you run:
[code]

I wanted to see if `System.Core.dll` is included.

[2017-07-01 00:28] Zomb opened #417 "[Android] Error with glib.h"
I am attempting to run e4k on a dll, and I am running into an error in the generated file about the include of glib.h. I have run brew install glib and have version 2.52.3 installed. The verbose output of my execution is below:

[2017-07-01 00:55] tritao commented on #417
The clue is on the output you pasted: `Could not find directory with support API.`.

Did you copy the executable out of the build folder for instance? Right now the executable depends on finding the `support` folder on the repo to generate the needed support files (like `glib.h`).

[2017-07-01 01:20] Zomb commented on #417
No, I have not copied the exe out of the folder, this is command I was running:

Your comment did point me in the right direction though! I was not running the command from the root of the e4k project. Once I did the error disappeared. Hopefully this will help anyone who runs into the same issue.

[2017-07-01 01:20] #417 closed

[2017-07-01 23:54] Zomb opened #418 "[Android] condition 'vtable' not met"
The native app consuming the generated aar is crashing with (some of) the stacktrace shown below. I can't really figure out what might be causing the crash, is there any way for me to get more information on this crash?

[code]

[2017-07-03 10:31] tritao commented on #418
Can you provide the AAR file and/or a sample managed DLL that causes this?

[2017-07-03 12:17] Zomb commented on #418
I can provide the AAR, but it contains internal code that I can't post on a public forum, an I don't seem to be able to create a private bug on here like I could in Bugzilla. Can I email you a link to your github address?

[2017-07-03 14:07] tritao commented on #418
Sure.

[2017-07-03 23:54] tritao commented on #418
OK I think I know what's going on here, the `HIALib.dll` assembly depends on other assemblies and we fail to package it correctly.

A console application referencing the DLL is enough to trigger an exception:

[code]

If we list the `.aar` file contents:

[code]

We can tell that is missing some extra assemblies. You can try opening the `.aar` file directly and adding the missing assemblies to the

[2017-07-04 20:39] Zomb commented on #418
Yes, you are right, none of the referenced assemblies have been copied over to the assemblies folder. I think (and I might be mistaken) that the issue is in Compilation.cs, where the assemblies are being copied into the assets directory. The path for all referenced assemblies appeared to be combined with MonoDroidSdk.FrameworkPath, which works fine for mscorlib, but not for the remaining reference

[2017-07-05 13:22] tritao commented on #418
We'll soon be merging a PR that re-works some of this compilation process for Android and should re-use the same assembly lookup logic as the Xamarin.Android build process, so hopefully this issue and some other open issues related to missing assemblies will be fixed.

[2017-07-05 18:43] jonathanpeppers commented on #418
@Zomb can you try what we merged into master today?

There are quite a few changes, docs on it here: https://mono.github.io/Embeddinator-4000/getting-started-java-android.html

[2017-07-05 18:44] jonathanpeppers commented on #407
@mattleibow I think you should re-test this with our latest stuff when you have a chance and let me know: https://mono.github.io/Embeddinator-4000/getting-started-java-android.html

[2017-07-06 14:51] Zomb commented on #418
I have made more progress with the new code! All the assemblies are getting packaged into the aar, but I now running into a new exception:

I am not sure what is causing this, but I will check further and see if I can find out!

[2017-07-06 14:55] jonathanpeppers commented on #418
Can you look and see if this class exists in your output:
[code]

It might be that something is now lower case here. Our integration tests use `managed.dll`.

[2017-07-06 15:04] Zomb commented on #418
What I have is

The folder appears to be lowercase.

[2017-07-06 15:06] jonathanpeppers commented on #418
I'll send a PR this afternoon, if you want to try yourself I think it would just be `support/java/android/AndroidRuntimeProvider.java`:
[code]

[2017-07-06 15:26] Zomb commented on #418
Yup, that appears to have fixed the issue! I have more questions, but will file a separate issue. Thank you!

[2017-07-06 15:44] Zomb opened #421 "[Android] Way to Subclass/Callback"
In the limitations section for Android/e4k, the documentation says that we can't subclass to callback, but the workarounds provided are for iOS. Is there any guidance on how this should be implemented on Android?
Right now, implementing an interface in java requires the __getObject() method to be implemented. Is there a type I can inherit from on the C# side to make an abstract class of sorts for

[2017-07-06 16:17] jonathanpeppers commented on #421
I need to write a test for this and see if the documentation needs updates.

Can you try inheriting from `Java.Lang.Object` and see if the Xamarin.Android generator gets you closer?

[2017-07-06 18:20] Zomb commented on #421
Are you thinking of something like the following in a Xamarin.Android library?

[code]

This appears to result in generated code that I can't quite understand. I have tried variants of this, making the class abstract, and the method abstract etc, with out much luck!

[2017-07-06 18:30] jonathanpeppers commented on #421
Ok, it's totally possible it doesn't work yet.

Let me research and document how to do this. We need an integration test for it at least, anyways.

[2017-07-06 19:04] #418 closed

[2017-07-07 21:38] jonathanpeppers commented on #421
@Zomb I got Java interface callbacks working (after a couple changes to e4k), but it doesn't feel great due to the manual plumbing involved. Let me ask around next week and see if someone on the Xamarin.Android team has a better idea.

I see two options for callbacks on Android, which probably both need to work at some point *eventually*.

#### Java Interface
[code]
[code]
You could also store the

[2017-07-07 21:53] michalkovy commented on #19
Compilation also can fail earlier when you choose VS2017 in parameter, it fails in Embeddinator-4000\binder\Compilation.cs on line 721 when you have multiple instances of Visual Studio 2017 (e.g. I have Enterprise and Enterprise Preview but you can have even different editions on the same computer)

[2017-07-07 21:54] realvictorprm commented on #19
We actually had great progress towards VS 2017 compatibility.

[2017-07-07 21:55] realvictorprm commented on #19
But solving VS 2017 compatibility is my keyword, I already handled this for CppSharp @michalkovy 😄

[2017-07-10 15:43] Zomb commented on #421
Sounds good! I will play around with Intents a little bit to see how well that will work. It will need some thread blocking machinery just because the parent call will be synchronous but intents are not, but it should not be too bad.
As and when you find a solution to this problem, I will try it out! :)

[2017-07-11 02:17] Zomb opened #427 "[Android] Support library exception"
Adding in the support library and using the LocalBroadcastManager results in the following exception:

This was in an attempt to use intents to work around issue #421

Steps to reproduce:
1. Create an Android Library class project
2. Add Xamarin.Android.Support.v4
3. Add LocalBroadcastManager.GetInstance(Application.Context); to a test method
4. Run e4k

[2017-07-11 02:20] jonathanpeppers commented on #427
Hmm, so it looks like the Java code isn't compiling.

I'm guessing if you are embedding an assembly that references a Java binding project, E4K needs to add additional jar files to the classpath.

I'll take a look, thanks for reporting.

[2017-07-11 03:54] jonathanpeppers commented on #427
@Zomb I got it to work: https://github.com/jonathanpeppers/Embeddinator-4000/tree/android-java-binding

A couple things I had to do to make your example work:
- TargetFrameworkVersion is now 7.0 - I think this makes more sense than 2.3
- mono.android.jar for 7.0 is Java 1.8 - 🤦‍♂️
- Setting up our test Android Studio project for Java 1.8 wasn't too bad

If you want to try my branch go for it, I ne

[2017-07-11 15:04] jonathanpeppers opened #429 "[c] issue with assembly names"
I tried an assembly named `Managed.Android.dll` and the generated C code doesn't compile. It could be an issue with the C generator in general.

See my example here that causes this: https://github.com/jonathanpeppers/Embeddinator-4000/commit/a937b97b0a00cd0862eeb3392eb3217f6778b6aa

You can just run:
[code]

Here is the output:
[code]

[2017-07-11 18:37] Zomb commented on #427
I have a couple of others things I want to try, so I will probably check this out as soon as you merge it to master!

[2017-07-12 10:15] tritao commented on #397
Now Jenkins builds are ignored for master branch.

[2017-07-12 10:15] #397 closed

[2017-07-12 15:54] #429 closed

[2017-07-12 16:51] mattleibow commented on #407
@jonathanpeppers I noticed an error on master. I am JUST building a .NET Standard project, no Android bit. As soon as I included the Android project that referenced the .NET Standard project, the compile was successful.

[code]

[code]

This is the code:
https://github.com/mattleibow/EmbeddedManagedDemo

[2017-07-12 16:56] jonathanpeppers commented on #407
Thanks @mattleibow I think #432 may fix this, but I will try your sample.

I need add a .NET standard library to our test suite, too.

[2017-07-12 23:36] #427 closed

[2017-07-12 23:37] jonathanpeppers commented on #427
@Zomb try it out and let me know. Feel free to reopen or post a new issue.

Thanks for the help!

[2017-07-13 01:42] Zomb opened #433 "[Android] Failed build clean clone"
I am running into an exception when I run the build on a clean clone of master. It looks like its a test project that is failing, and I hoping I can still use e4k even with this failure!

[2017-07-13 02:09] jonathanpeppers commented on #433
Our PR builders do a clean clone. But they either run:
[code]
or
[code]

Is this happening in an IDE?

[2017-07-13 02:11] Zomb commented on #433
No, this in in a Mac terminal. I am running this command from the command line:

[2017-07-13 02:22] jonathanpeppers commented on #433
Sorry, I read your error more closely. It looks like nuget is having DNS trouble.

If you do this, does it work:
[code]

You can also try the nuget we have in our repo:
[code]

If the second one works, maybe it is better for us to never use the system-wide nuget.

[2017-07-13 02:33] Zomb commented on #433
I seem to be having random behavior with Nuget. This first time I ran it I got this:

I run it a second time, I get:

Now I connect to my VPN (which should make no difference whatsoever) and the NameResolutionFailure goes away and everything works fine! I don't know what the issue is but hey, it works!

[2017-07-13 02:33] #433 closed

[2017-07-13 10:01] #407 closed

[2017-07-13 12:06] mattleibow opened #436 "[android] dlopen failed: cannot locate symbol "monodroid_embedded_assemblies_set_assemblies_prefix""
[code]

[2017-07-13 12:08] mattleibow commented on #436
I am still testing my sample repo: https://github.com/mattleibow/EmbeddedManagedDemo

The compiler now correctly generates the java files and builds the .so and .aar files. I created an Android Studio app, and pulled that .aar in. The code seems to compile, but at runtime that symbol is missing.

I did a nm on the .so and found that that symbol was `U`:

[code]

[2017-07-13 12:09] mattleibow commented on #436
This appears in the `mono_embeddinator.c` file:

[code]

I am thinking something is not being linked?

[2017-07-13 12:41] jonathanpeppers commented on #436
I had to make a change to Xamarin.Android for embeddinator.

Did you run:
[code]

This will download a version of Xamarin.Android in `external/Xamarin.Android` to use instead of the system one. It mentions it on the updated [guide](https://mono.github.io/Embeddinator-4000/getting-started-java-android.html), but it is a temporary thing.

Maybe I need to make it fail right now (if it is using your s

[2017-07-14 03:58] jonathanpeppers opened #438 "[java] generator fails on MonoGame.Framework.dll"
I just wanted to test a complex library, so I chose MonoGame.

To get it, just do:
[code]
Then I ran Embeddinator on it with `--gen=Java --platform=Android -c` on `MonoGame.Framework.dll`.

First issue came up was a dictionary failure on a `ButtonState` enum, I think the fix for that is here: https://github.com/jonathanpeppers/Embeddinator-4000/commit/ed8d19de3d0ed1df2fbe6149c1463c0afcd78b53

But

[2017-07-14 14:04] Zomb opened #439 "[Android] Calling into C# on a different thread fails"
If you attempt to create an instance of the C# object in Android Studio inside a thread other than the main thread, using new Thread or AsyncTask, results in a crash with (some) of the trace seen below:

[2017-07-14 15:19] jonathanpeppers commented on #439
Thanks @Zomb I will look into this.

Can you paste a snippet of your Java code?

[2017-07-14 15:33] Zomb commented on #439
I tried two methods:
[code]

and

[code]

The C# library I am calling into is Mono.Android library.

[2017-07-14 18:56] jonathanpeppers commented on #439
I'm seeing this, too.

One workaround for now is to subclass `Java.Lang.Object`.

I have this C#:
[code]

Then my test in Java:
[code]

This case works, but if it isn't `Java.Lang.Object`, it crashes.

I will research if this just needs to be a limitation or if it can be fixed.

[2017-07-18 14:10] #421 closed

[2017-07-18 14:12] jonathanpeppers commented on #421
@Zomb I have documented ways to do callbacks at the moment: https://mono.github.io/Embeddinator-4000/android-callbacks.html

If you have any ideas on this, let me know. I'm working on ways to make this better.

[2017-07-18 19:50] jonathanpeppers commented on #438
Just a note on this, after the above 2 PRs we have alot less errors here now:
[code]

[2017-07-20 16:16] Zomb opened #448 "[Android] Error using Android Studio 3.0 Canary 7"
I am attempting to use Android Studio 3.0 because of the requirement for Java 1.8 and I am running into the following error:

This might not be valid because 3.0 is not released yet, but I figured in would be a good test. I also have one Kotlin file in the Android Studio project. The app fails on deploy, it appears to build fine. I am not calling into the library, just have it as a dependent modul

[2017-07-20 16:23] Zomb commented on #421
@jonathanpeppers I have not tried this yet, but I probably will at some point in the future. I am currently using a ManualResetEvent to block the call in C#, and using LocalBroadcastManager to emulate the callback into java, and just continue when I get a response intent. As soon as I am done setting everything else up, I will come back and try this out!

[2017-07-20 17:34] Zomb commented on #448
The next issue I am running into is that the new Kotlin plugin is not compatible with the Jack toolchain, but the Jack toolchain is required to use e4k in stable Android Studio. I will try and revert back to an older version of the plugin, or just not use Kotlin to work around this issue for now.

[2017-07-20 17:54] Zomb commented on #448
Yup, with Android Studio 2.3.3 stable it works fine if you are not using Kotlin. The moment you install the Kotlin plugin, Kotlin complains because it is not compatible with the Jack toolchain. Android Studio 3.0 appears to be the only solution if you want to use Kotlin and Java 8.

I have downgraded from Kotlin plugin from 1.1.3-2 to 1.1.1 which does support the Jack toolchain, and will report ba

[2017-07-20 19:23] jonathanpeppers commented on #448
@Zomb

It says it on here under **Known Issues**: https://developer.android.com/studio/preview/features/new-android-plugin.html

[code]
So... I guess we have to wait for them to fix this.

This guy talks about a workaround, but is pretty vague: https://stackoverflow.com/questions/44785068/android-gradle-plugin-3-0-0-alpha4-not-picking-so-libraries-from-local-aar

I wasn't able to get the `flatDirs

[2017-07-20 19:23] #448 closed

[2017-07-21 00:35] tritao commented on #438
Next issue here seems to be caused by a conflict in generated code:

[code]

which is cased by:

[code]

[2017-07-21 02:44] Zomb commented on #439
This method does work, and I have no crashes when I create a thread. In the process of testing this out a couple of days ago, I ran into a particular problem related to the Register attribute. If the specified package is in camel case (Register("MoNo.embed.SubclassJava")) then Android Studio had problems using the class. This has nothing to do with the thread though, and if I find more information

[2017-07-21 02:48] Zomb commented on #448
Sounds good! Just as info for anyone else that wants to use Kotlin and runs into this thread, the best option right now is Android Studio 2.3.3 + Jack + Kotlin plugin version 1.1.1. Just the project gradle file Kotlin plugin version needs to be changed, Android Studio can stay on 1.1.3-2.

[2017-07-22 03:18] Zomb opened #452 "[Android] SQLite access failing from C# library"
Accessing sqlite from the library is causing a linker failure, seen below:

[2017-07-22 03:22] jonathanpeppers commented on #452
Hi @Zomb ,

What C# class/library are you using here? Is is from `Mono.Data.Sqlite` or something on NuGet?

[2017-07-22 03:33] Zomb commented on #452
The library appears to be using a standard sqlite3.dll to access the database. I can try different options if needed though!

[2017-07-22 03:38] jonathanpeppers commented on #452
Oh could you just paste a C# snippet, is it using `[DllImport]` directly?

I have generally used this [one](https://www.nuget.org/packages/sqlite-net-pcl/) by Frank Krueger, but I have not tested it with Embeddinator.

[2017-07-22 03:43] Zomb commented on #452
This is the import:

[code]

[2017-07-22 03:57] jonathanpeppers commented on #452
Ok, do you know if this works in a normal Xamarin.Android app?

Android N made it where you can't use `sqlite3` directly from a `DllImport` anymore. Frank's sqlite-net sits on top of SQLitePCL.raw by Eric Sink, and he talks about how he had to work around Android N [here](https://github.com/ericsink/SQLitePCL.raw).

It sounds like you are working with existing code, so it might be tough to port to

[2017-07-22 04:10] Zomb commented on #452
I do believe this works in a normal Xamarin.Android app, but I will cross check, I might have just not tested on an N phone using this library. There is [this](https://forums.xamarin.com/discussion/86762/dll-issue-with-sqlite-with-nougat-version-7-0) post on the Xamarin forums with the same error I have, will try some of the options out and see if I can work around the issue!

[2017-07-22 15:07] Zomb commented on #452
The library appears to work in a standard Xamarin.Android app, I will see if I can figure out why!

[2017-07-22 15:57] tritao commented on #452
Is it possible we're failing to bundle the needed native libraries in the AAR?

Can you please check and list the contents of the generated AAR?

[2017-07-22 16:22] Zomb commented on #452
These are the bundled .so files in arm64-v8a:

I am trying to create a sample project with a simple database dll that I can use both in a standard Xamarin.Android project and a e4k one. I will share my results once I have that working!

[2017-07-22 23:39] Zomb commented on #452
I did not have much luck with the dllImport on Android N, so, I started experimenting with sqlite-net-pcl. This resulted in to the following exception:

I am not sure why e_sqlite3 is not being found.

[2017-07-22 23:49] Zomb commented on #452
If its of any help, the SQL libraries included in the aar are:

[2017-07-22 23:51] jonathanpeppers commented on #452
I think there is a build action used here named AndroidNativeLibrary, I bet I need to do something to get it to work in Embeddinator.

Thanks @Zomb for letting us know.

[2017-07-24 13:19] jonathanpeppers commented on #452
Yeah, we are not extracting and including these native libraries at all yet:
![screen shot 2017-07-24 at 8 13 04 am](https://user-images.githubusercontent.com/840039/28524918-0e1ce68e-7048-11e7-9056-b30dbfdb4bf2.png)

I've not seen this `__AndroidNativeLibraries__` zip file before looking at one of these. The other zip we are extracting, because it contains assets, resources, jar files, etc. Hopef

[2017-07-24 15:49] Zomb commented on #452
I can try. Can you tell me where I can find the right so files to include?

[2017-07-24 15:53] jonathanpeppers commented on #452
If you do this:
[code]

It will dump `__AndroidNativeLibraries__.zip` into your current directory. Then you can unzip to get the native libraries.

I've been looking at this and unfortunately Xamarin.Android seems like it moves native libraries directly from here into the final APK. That means there isn't an existing thing I can use to put them in our AAR file. For the other zip file, there was an

[2017-07-25 18:05] postromantic opened #453 "[Android] Resources with camel case names are not accessible"
If resource name contains capital letters then e4k incorrectly generates stubs for it so those resources are not accessible in host app.

__Repro__

Resources/values/Strings.xml:
[code]
Class1.cs:
[code]
getText crashes host app:
`
System.TypeInitializationException: The type initializer for 'String' threw an exception. ---> System.Reflection.TargetInvocationException: Exception has been thrown by

[2017-07-25 18:24] postromantic opened #454 "[Android] Suggestion: be able to exclude some assemblies from e4k stubs generation"
e4k scans ALL referenced assemblies for public Activities etc. Usually it's not needed and cause problems. It would be nice to be able to exclude some assemblies from e4k java stubs generation via cli argument.

__Repro__
Create Xamarin Android library, add `Xamarin.GooglePlayServices.Location` nuget, create dummy class
[code]
e4k will fail with bunch of errors for `com.google.android.gms.*` objec

[2017-07-25 18:44] jonathanpeppers commented on #453
Thanks, I'll take a look at this.

[2017-07-26 01:47] Zomb commented on #452
I have been able to confirm that this works. For the reference of anyone who stumbles on this thread, these are the steps I used:
- run monodis --mresources as mentioned above
- create folder jnilibs under src/main
- copy all the architecture folders generated (arm* for example) into jnilibs folder

[2017-07-26 12:34] tritao commented on #408
This should work now, please re-open if still an issue.

[2017-07-26 12:34] #408 closed

[2017-07-26 12:35] tritao commented on #436
Closing since this is not an issue if you follow instructions by @jonathanpeppers and use the necessary dependencies.

[2017-07-26 12:35] #436 closed

[2017-07-26 13:05] #452 closed

[2017-07-26 13:06] jonathanpeppers commented on #452
@Zomb try it out and let us know, I added test cases specifically checking `SQLitePCL.raw` works.

[2017-07-26 15:20] jonathanpeppers commented on #454
This is also the blocker to getting a Xamarin.Forms project working.

The issue is:
- We have to run `GenerateJavaStubs` on all user assemblies, because there could be an Android library project containing an `Activity` that needs to be added to the manifest and a Java stub generated so Java can create it. `GenerateJavaStubs` does `AndroidManifest.xml` generation, too.
- But we don't really need t

[2017-07-26 15:44] tritao commented on #438
All generation issues have been fixed.

[2017-07-26 16:06] #453 closed

[2017-07-26 16:08] jonathanpeppers commented on #453
@postromantic try it out and let us know if we fixed it. Thanks for testing this stuff out for us!

I don't think we have enough test cases in this area, so it's possible there might be another way to name a resource to break this.

[2017-07-26 16:23] tritao opened #458 "[java] Improve generation for method overloads"
Right now we suffix method overloads due to how C works, but since Java has proper support for method overloads this should be improved.

As an example:

[code]

Here we should generate only a `contains` method, with two overloads.

[2017-07-26 16:30] postromantic commented on #453
@jonathanpeppers  works like a charm now.
Thank you!

[2017-07-27 18:21] jonathanpeppers commented on #454
@postromantic can you try what I have on PR #460?

I changed so much stuff, I wanted to make sure it solves your problem above but doesn't break anything that used to work.

I was able to get this Xamarin.Forms app to work: https://github.com/davidortinau/build2017-new-in-xamarin-forms

[2017-07-27 20:32] postromantic commented on #454
@jonathanpeppers `android-resource-designer` branch doesn't work for me. Even empty Xamarin Android library project fails now on LinkAssemblies task with
`Package.proj(21,5): error MSB4018:
Java.Interop.Tools.Diagnostics.XamarinAndroidException: error XA2006: Could not resolve reference to 'System.C
odeDom.Compiler.CompilerError' (defined in assembly 'CppSharp.Generator, Version=0.0.0.0, Culture=n

[2017-07-27 20:42] jonathanpeppers commented on #454
Ok, is your target assembly in the same directory as Embeddinator?

If so, make a directory called `target` and move your C# assemblies in there.

So a structure like:
[code]
I usually just point to the `bin\Release` directory of the other project instead.

Then if you run:
[code]
Maybe it works?

Since this caused you an issue, I probably need to think more about 6609b86 merging this PR. I did it

[2017-07-27 20:50] postromantic commented on #454
@jonathanpeppers, right=) i see you adding all dlls from main assembly dir.
it works this way

[2017-07-27 20:52] postromantic commented on #454
however, original issue is still there. got bunch of java compiler errors like:
`output\src\mono\com\google\android\gms\tasks\OnFailureListenerImplementor.java:8: error: package com.google.android.gms.tasks does not exist
                com.google.android.gms.tasks.OnFailureListener
                                            ^
output\src\mono\com\google\android\gms\tasks\OnSuccessListenerImpleme

[2017-07-27 20:53] jonathanpeppers commented on #454
Ok, I will add a test for `Xamarin.GooglePlayServices.Location` and see if I see the same thing.

[2017-07-27 20:55] postromantic commented on #454
Probably it's not the best nuget to test cause it has ~10 dependent nugets.  I think `Xamarin.Android.Support.v4` should also fail

[2017-07-27 20:56] jonathanpeppers commented on #454
The one I got to work had a few: https://github.com/davidortinau/build2017-new-in-xamarin-forms/blob/master/Weather/WeatherApp/WeatherApp.Droid/packages.config

But Google Play Services is alot bigger than this.

[2017-07-27 21:11] postromantic commented on #454
Yep, support packages works fine (in your example and on dummy projects), so it's play services only

[2017-07-28 14:01] Zomb commented on #452
@jonathanpeppers When I generate the aar, should I see sqlite3.so files in jni/arm* inside the aar? Or is it packaged elsewhere?

[2017-07-28 14:13] Zomb commented on #452
@jonathanpeppers Nevermind, it looks like the linker was stripping it out. I looked at your test and added the Init calls into my code, and the so files got added in. It appears that the dependencies from other library dlls are not enough to keep the linker from stripping the so files out.

[2017-07-28 14:15] jonathanpeppers commented on #452
Yeah in our test project it has:
[code]

The only issue I found was due to the linker, I had to add these:
[code]
Full file is here: https://github.com/mono/Embeddinator-4000/blob/master/tests/managed/android/android.cs#L281

I think Eric made these methods in SQLitePCL.raw for this reason.

[2017-07-28 14:36] jonathanpeppers commented on #454
@postromantic I took out 6609b86 since the Xamarin.Forms sample still worked without it.

I will keep this issue open and address Google Play Services in a future PR.

Thanks for testing this out for us!

[2017-07-28 16:36] tritao commented on #438
Getting close.

[code]

[2017-07-28 21:11] kylekurz commented on #349
Swinging back around to this again, as I'm trying my hand at the E4k again this week. Still seeing the same errors, anyone ever decide if F# Reflection was going to be supported here?

[2017-07-28 21:21] jonathanpeppers commented on #349
To to give more info on what's failing in IKVM.Reflection:
[code]

From the stack trace above, `DeclaringType` is returning null:
[code]
I'm not familiar with IKVM.Reflection's codebase yet, so I can't say what is going wrong here.

Could someone paste some sample F# code that breaks this? Or is it *any* F# code? Even "hello world"?

[2017-07-28 21:50] kylekurz commented on #349
So, Hello World doesn't have the *same* error, but it's pretty obvious that there's a fundamental lack of F# support at this point. Not sure if this belongs here or in another ticket (Test project attached)...

[HelloWorld.zip](https://github.com/mono/Embeddinator-4000/files/1184342/HelloWorld.zip)

[2017-07-30 16:13] postromantic commented on #454
@jonathanpeppers i think you should bring back https://github.com/mono/Embeddinator-4000/commit/6609b86ed24bcd00872092622747b6f38302e0d1 cause it solves another issue: be able to use resources from referenced assemblies (otherwise they are not in R.txt).
thanks

[2017-07-31 13:08] jonathanpeppers commented on #454
When you were trying this, was the referenced assembly included in your AAR file:
[code]

If it wasn't, it might be the linker removing the assembly entirely. The fix for that is to just make an empty static void method and call it from somewhere. The SQLite.raw library we were testing has something like that [here](https://github.com/mono/Embeddinator-4000/blob/master/tests/managed/android/androi

[2017-07-31 18:13] jonathanpeppers commented on #454
@postromantic ok, I have a PR I think _might_ solve your issue.

Would you be able to try #463 and take a look at docs I wrote [here](https://github.com/jonathanpeppers/Embeddinator-4000/blob/android-dependencies/docs/getting-started-java-android.md#multiple-assemblies)?

If you still can't get your project to work, would you be able to send me your full project somehow?

[2017-07-31 18:53] jonathanpeppers commented on #349
Hi @kylekurz,

I tried your sample and it worked for me on Android:
[code]

I _think_ the iOS team is busy working on new Xcode/iOS 11, so I don't know when they will be back to help on Embeddinator.

I will add an F# project to our test suite so it will be easier for them to look into this when they do come back. Do you have an F# file that causes the original error? I can add that to the test as

[2017-07-31 20:43] tritao opened #465 "[java] Resolve conflicts with managed methods named as java.lang.Object overloads"
Processing the `CppSharp.AST.dll` assembly reproduces this error.

[code]

[2017-08-01 13:32] postromantic commented on #454
@jonathanpeppers, it works now, but there is one small issue =)

you've added a bunch of google play services to the test project except the one i need (Xamarin.GooglePlayServices.Location for geolocation capturing).  i'm using v29.0.0.1. e4k fails with:
`
AndroidManifest.xml(12): error APT0000:  Error: No resource found that matches the given name (at 'value' with value '@integer/google_play_serv

[2017-08-01 13:41] jonathanpeppers commented on #454
Glad you got it to work!

Yeah your issue makes sense, because it's not going to include the resources from Google Play Services.

In the future, we are looking to add a `-ref` command line switch to pass Embeddinator assemblies you want included (Android resources, etc.), but you don't want Embeddinator to generate Java output for. I think this will address your new issue, but it might be a while

[2017-08-01 13:41] #454 closed

[2017-08-01 13:47] postromantic commented on #454
Thanks @jonathanpeppers!

[2017-08-02 20:13] kylekurz commented on #349
@jonathanpeppers nice to know it works for Android. I hadn't tried that platform yet, as I was primarily interested in iOS, right now. I have an F# project that causes the error, I'll try to look at it tomorrow when I'm back in the office. I'll have to share that manually, as it's company proprietary code instead of a trivial repro case.

[2017-08-02 21:50] realvictorprm commented on #349
Already 3 months passed and I didn't fix it yet. Time flows....

Tomorrow evening I may have time for this.

[2017-08-03 18:58] tritao commented on #331
@jonathanpeppers added some docs explaining how to setup post-build event for Visual Studio here: https://mono.github.io/Embeddinator-4000/getting-started-java-android.html

[2017-08-03 19:17] mhutch commented on #331
@tritao VSMac custom "After Build" steps are deprecated. I would suggest instead that we have a NuGet with MSBuild targets that can be simply added to the rpoject.

[2017-08-04 21:43] mhuusko5 commented on #232
Are there any thoughts on a solution to this, given that Obj-C isn't statically typed/doesn't support generics itself?

[2017-08-09 15:16] migueldeicaza commented on #406
I am not sure that we should do decimal mapping here, because the conversions between C# decimal and Java bigdecimal  will not be lossless.   Perhaps we need to surface decimal as "DNDecimal".   Initially it could be very empty with nothing in there, other than "ToBigDecimal()"

[2017-08-14 12:12] Zomb commented on #448
Android Studio 3.0 is now in Beta, and e4k aars appear to work without a problem. It might be beneficial to update the documentation to point to 3.0 and not use the deprecated Jack toolchain anymore.

[2017-08-14 12:51] jonathanpeppers commented on #448
Thanks, I'll try it out.

[2017-08-16 10:27] lemonmojo opened #478 "Trying to get nuget version working"
Hi there!

Up until now, I used to compile e4k myself and it worked perfectly.
Today, I upgraded to the latest Alpha channel versions of Visual Studio for Mac, Xamarin.Mac, etc. and thought I might as well switch to the NuGet version of e4k while I'm at it.
Now the binding code for my Xamarin.Mac library is still created and looks good but when objcgen is compiling the code, it spits out an error,

[2017-08-16 10:56] tritao commented on #478
Hey @lemonmojo.

I think this is an issue with the iOS support in the Nuget version due to an incompatibility with some changes we did for the Android version. I have an idea what it is and will look into it.

[2017-08-16 10:58] lemonmojo commented on #478
Hey @tritao!

Thx for getting back to me and for looking into the problem. Please note that I'm trying to compile a Xamarin.Mac project, not Xamarin.iOS if it makes any difference.

[2017-08-16 17:10] zgramana commented on #478
I ran into the same issues as @lemonmojo but in my case I'm actually targeting iOS. Using nuget version `0.20.0.80`.

I moved the `#endif` from `mono-support.h` line 185 to the last line and was able to successfully complete:
[code]

[2017-08-16 17:30] zgramana commented on #478
I applied the patch to master, rebuilt, and was able to run `objcgen` as expected. @lemonmojo  I submitted the change as a PR in case you want to try yourself.

[2017-08-16 18:50] lemonmojo commented on #478
@zgramana Yes, applying the mentioned patch to master does indeed fix the issue.

[2017-08-16 19:03] lemonmojo commented on #225
With today's master, and Mono 5.4.0.135 I'm unable to successfully create and compile a binding for mscorlib.

I'm invoking objcgen like this: `mono objcgen.exe --platform=macOS-full --abi=x86_64 --target=framework -c -o ./ /Library/Frameworks/Mono.framework/Libraries/mono/4.5/mscorlib.dll`.

Generating the binding code actually succeeds but compiling it then fails with lots of errors and the comp

[2017-08-16 19:38] equinox2k opened #480 "libGLESv2.so not accessible (Android)"
Hi,

Ive written a library that has some OpenGL functionality using OpenTK package and all runs fine if using in an application. How ever if I use the embeddinator output into a native app I get the following error...

`
08-16 17:31:09.788 6928-7114/com.pnimedia.droidwrapper E/linker: library "/system/lib/libGLESv2.so" ("/system/lib/libGLESv2.so") needed or dlopened by "/data/app/com.pnimedia.droi

[2017-08-16 20:07] jonathanpeppers commented on #480
Hi @equinox2k

Are you using Xamarin's version of `OpenTK` or `OpenTK-1.0` from the `Add Reference` menu? Or a NuGet package?

Could you post the contents of your AAR file? `zipinfo yourFile.aar`

If there is an issue here, we probably need to add a test case for OpenTK.

[2017-08-16 20:09] #478 closed

[2017-08-16 21:23] equinox2k commented on #480
Currently using OpenTK from nuget.org (V2.0.0) and was added using Visual Studio for Mac

Archive:  PNI.Mobile.Library.aar
Zip file size: 12623501 bytes, number of entries: 83
-rw----     2.0 fat        0 bX defN 17-Aug-16 12:56 META-INF/
-rw----     2.0 fat       69 bl defN 17-Aug-16 12:56 META-INF/MANIFEST.MF
-rw----     2.0 fat     6148 bl defN 17-Aug-16 07:14 .DS_Store
-rw----     2.0 fat

[2017-08-16 21:31] equinox2k commented on #480
@jonathanpeppers just noticed even tho I have the OpenTK nuget package I also have a reference to OpenTK-1.0 so guess its using that rather than what I originally thought.

[2017-08-16 22:08] jonathanpeppers commented on #480
Ok, I will look into this when I have a chance.

You might look and see if the `OpenTK.dll` you are using contains the native library it's looking for:
[code]

This should dump a `__AndroidNativeLibraries__.zip` file you can see if the missing `so` file is there or not.

When I have time, I'll try to make a test to repro this.

[2017-08-16 22:26] equinox2k commented on #480
As mentioned it turns out I'm using OpenTK-1.0 from

/Library/Frameworks/Mono.framework/External/xbuild-frameworks/MonoAndroid/v2.3/OpenTK-1.0.dll

I did monodis --mresources on it and created extracted zip

library_project_imports contained assets, bin, java, res folders all of which were empty

In my test app I can see gles1 is there however since I'm doing...

SetEGLContextClientVersion(2);

Th

[2017-08-16 23:45] zgramana commented on #13
It's worth exploring the [gomobile](https://github.com/golang/mobile/tree/master/cmd/gomobile) toolchain as it bears a strong resemblance to E4k.

[2017-08-16 23:51] zgramana opened #481 "[objc] Enable class name customization via RegisterAttribute"
As a library creator, I want to enable fine grained control over the public API that I present so that my users find my library intuitive and easy to use. One aspect of this is conforming to naming conventions in the objc/Cocoa community. Xamarin.iOS's `RegisterAttribute` provides a natural vehicle for this, `objcgen` just needs to honor it.

[2017-08-17 02:34] tritao commented on #480
This is actually looking for a system library `/system/lib/libGLESv2.so`, so it might be some Android permission issue going on.

[2017-08-17 03:50] jonathanpeppers commented on #480
Hi @equinox2k I spent some time to try to repro this.

I did something like this in C#:
[code]

Then I can get a Java unit test to pass with:
[code]

Do you have a small C# example that causes the problem? Thanks.

[2017-08-17 14:52] equinox2k commented on #480
I have created a demo app where you can see the error... (sorry its not a small)

Download from [https://www.dropbox.com/s/qw2r61v3c748mk8/PNI.Mobile.XamarinTest.zip?dl=0](https://www.dropbox.com/s/qw2r61v3c748mk8/PNI.Mobile.XamarinTest.zip?dl=0)

Open solution and compile (part of compilation does the embeddinator process and copies result to the droid wrapper folder). If you were to run the solu

[2017-08-18 08:12] lemonmojo opened #483 "[objc] Enable method/property name customization via ExportAttribute"
https://github.com/mono/Embeddinator-4000/pull/482 enables customization of class names surfaced to ObjC by re-using the `[Register]` attribute.
The same would be useful for method and property names. In Xamarin.iOS/Mac we already have `[Export]` which could potentially be re-used for this.

[2017-08-18 10:26] lemonmojo opened #484 "[objc] Exception Handling"
I'm currently experimenting with exception handling in E4k because the current implementation is lacking for all but the most basic needs.

I was able to come up with a block (or Swift closure)-based solution that, while not perfect is IMHO a vast improvement over the current implementation. It does require some adjustments on the generator side and some helper code that relies on Xamarin.Mac/iOS.

[2017-08-18 16:53] tritao commented on #438
Should be fixed once https://github.com/mono/Embeddinator-4000/pull/488 is merged.

[2017-08-22 00:21] jonathanpeppers commented on #480
@equinox2k I think it worked for me, it is a magenta screen, right?

The Xamarin one had a button first, but the Java one launched the activity immediately.

Here is the full log for Java/Android Studio on x86 emulator, seems like the normal noisy Android log:
[code]

[2017-08-23 15:41] tritao commented on #484
Hey @lemonmojo.

Nice!  This seems like a very interesting approach for exception handling.

Seems like it gets us to a useful point without too much complexity.

@rolfbjarne what do you think?

[2017-08-23 16:38] rolfbjarne commented on #484
A simpler implementation would be to:

* Execute mtouch/mmp with `--marshal-managed-exceptions=throwobjectivecexception`
* Change [mono_embeddinator_throw_exception](https://github.com/mono/Embeddinator-4000/blob/a7a3e1b98cb75f0667a40e56241a46c243fe08bd/support/mono_embeddinator.c#L290) to call [xamarin_process_managed_exception](https://github.com/xamarin/xamarin-macios/blob/fbe5a6c510b33f205200b

[2017-08-23 16:56] lemonmojo commented on #484
@rolfbjarne There's currently no native Swift exception handling support and Swift 4 won't change that. There are workarounds that use blocks/closures to wrap Objective-C exceptions to NSErrors like [this](https://github.com/Weebly/Try) or [that](https://stackoverflow.com/questions/32758811/catching-nsexception-in-swift). So assuming your suggestion works, Swift users would have to go the extra mi

[2017-08-28 12:51] realvictorprm opened #493 "C Tests don't pass on Mono 4.8.0"
Hello,

the C-Tests didn't pass on my windows machine with Mono version 4.8.0 installed.
Updating to the latest stable mono version for windows solved my problem.

### Additional Information:
[code]

The generated managed.c file:
[managed.zip](https://github.com/mono/Embeddinator-4000/files/1256767/managed.zip)

This is just for tracking possible incompatibility with "old" Mono versions.

[2017-08-28 14:58] realvictorprm opened #494 "F# Compatibility Checks"
This is the main issue for tracking both progress and missing support for F# assemblies (targeting the C generator).

----

Missing Tests:

- [x] Nested modules
- [x] Record types
- [ ] Discriminated Unions
- [ ] Struct records
- [ ] Struct Discriminated Unions
- [ ] Simple F# class
- [ ] F# double back-tick naming feature (see #489)
- [x] array access
- [x] simple literal access

----

Those feat

[2017-08-28 15:00] realvictorprm commented on #494
I can report that nested modules (if they contain valid functions) aren't generated. I suppose this is due to the limited ability of IKVM reading inner nested classes.

_Modules in F# are technical seen only static classes. Nested modules result therefore in nested static classes_

[2017-08-29 09:02] realvictorprm commented on #494
@tritao can we make #495 ready so I can continue my work 😃 ?
I want to add #489 later due to the unicode problems in C.

[2017-08-29 09:12] realvictorprm opened #496 "Add support for class type arrays"
The current approach surpress usage of class type arrays, see [here](https://github.com/mono/Embeddinator-4000/blob/master/binder/Generators/AstGenerator.cs#L429).

Removing this and adding proper support is the first approach, so...
I'm currently trying to solve all compilation errors and proceed with solving remaining logical errors.

----

The Tests fail currently due to compilation errors. See

[2017-08-29 12:28] #438 closed

[2017-08-29 15:14] realvictorprm commented on #496
see #497

[2017-08-30 11:43] realvictorprm opened #498 "Travis CI unbelievable slow"
Hello fellows,

sorry for posting this but the Travis CI takes way too much time for waking up and for running the tests.
Is there _anything_ we can do about this?

[2017-08-30 12:38] tritao commented on #498
It's the macOS builds that take up too much time... We could add Linux builds to it which should give us much faster results.

[2017-08-30 17:29] #496 closed

[2017-09-04 10:24] emysa341 opened #501 "Unhandled Exception: System.ComponentModel.Win32Exception: The system cannot find the file specified"
Hello, I have integrated Embeddinator-4000 for android class library project.
1) Mono 5.0 installed
2) Xamarin.Android 7.4.99 or later (build from Jenkins) installed
3) Java version 1.8
4) Post build command line
5) My working environment is Visual studio 2017 in windows.
[code]

I have no clue, how to get rid of following exception, please save my day

[code]

[2017-09-04 12:06] jonathanpeppers commented on #501
Hi @emysa341,

It looks like it is not finding MSBuild, can you add the appropriate directory on your machine to your PATH:

`[ProgramFiles]/Microsoft Visual Studio/2017/Professional/MSBuild/15.0/Bin`

I fixed this on master a few weeks ago, but I don't think there is a release on NuGet for that yet. You could also try building Embeddinator on master and using that.

[2017-09-04 13:15] realvictorprm commented on #498
Linking relevant PR #499.

Thanks @tritao for doing this!

[2017-09-04 13:58] emysa341 commented on #501
Hi @jonathanpeppers,

The file is already there [ProgramFiles]/Microsoft Visual Studio/2017/Professional/MSBuild/15.0/Bin. But still same issue. I have also downloaded the project from Master branch. Still there are process starting errors. I have tried resolving 2 or more errors. But one leads to another

C:\\hello-from-csharp\output\GenerateJavaStubs.proj(10,3):
error MSB4019: The imported proje

[2017-09-04 16:39] realvictorprm opened #502 "Logic for custom dll search paths is ugly"
Hello fellows,

the default dll search system didn't work for my case and so I was pushed to set the search path on my own. However the custom search path method doesn't contain any information about how multiple paths could be used. Therefor I suggest to either remove [this](https://github.com/mono/Embeddinator-4000/blob/master/support/mono_embeddinator.c#L109) line to keep the default search pat

[2017-09-04 16:46] realvictorprm commented on #502
Btw, the 1th Option solved the problems I had. I really see no point in removing the standard directories. It's already difficult enough to retrieve such information in C/C++ cross-platform.

Also my thinking of the search path was that it only affects _Embeddinator_ and not the Mono CLR.

[2017-09-05 00:38] equinox2k opened #504 "Running against a Xamarin Forms library app produces errors on android..."
So far I have managed to get Xamarin Forms to work well under iOS as a library application (without using the FormsAppDelegate)

I have tried doing similar for android using the FormsActivity however leads to errors when ran inside another shell application...

[code]

[2017-09-05 01:51] #480 closed

[2017-09-05 13:08] jonathanpeppers commented on #501
@emysa341 you didn't mention if `MSBuild.exe` is in your `PATH` environment variable or not.

To check this, open Command Prompt and run:
[code]
It should print 15.3 if you have the latest Visual Studio 2017. [Here](https://www.java.com/en/download/help/path.xml) is an example of setting environment variables in Windows. I think you  just need to add `C:\Program Files (x86)\Microsoft Visual Studio

[2017-09-05 14:15] jonathanpeppers commented on #504
Hi @equinox2k can you post some of your code or a sample project?

I have tested Xamarin.Forms applications before, but it was using Xamarin.Forms embedding. So I am curious how your Xamarin.Forms startup looks in Java, in the first `Activity`.

[2017-09-05 14:23] jonathanpeppers commented on #502
@realvictorprm it would probably be helpful to mention the platform and some details about your problem (maybe you put it somewhere else). Like `I am on Windows and it tried to load X assembly from Y directory`.

Removing that line in `mono_embeddinator.c`, looks like it would break Java on desktop platforms: https://github.com/mono/Embeddinator-4000/blob/master/support/java/DesktopImpl.java

Ther

[2017-09-05 14:35] equinox2k commented on #504
Hi @jonathanpeppers

Ive created a cutdown demo app for you to download here...

https://www.dropbox.com/s/qvfkn6zupin6qru/PNI.Mobile.Xamarin.Example.zip?dl=0

1) Open solution and compile the PNI.Mobile.Library.Droid (this will compile the library and copy over the generated aar to the PNI.Mobile.DroidWrapper project)

2) You can run PNI.Mobile.Droid application and you will see everything workin

[2017-09-05 15:21] realvictorprm commented on #502
Thanks @jonathanpeppers, I agree. Yes I'm working on windows, Embeddinator or rather the CLR failed to load the base assemblies (in this case mscorelib.dll!). So far I understood the single line is changing the global search path of the CLR which results here in worse failures.

[2017-09-05 15:24] realvictorprm commented on #502
Also, according my description above the line change should only _fix_ the bug but keeps the logic for Embeddinator.

[2017-09-05 16:41] tritao commented on #502
I haven't taken action on the PR yet because I'd first like to understand the issue first. Lets discuss your original problem and then figure out what to do.

[2017-09-06 12:38] emysa341 commented on #501
@jonathanpeppers Thank you for the detailed explanation, I followed the steps you mentioned. The issue is resolved. Thanks again.

[2017-09-06 12:38] #501 closed

[2017-09-06 21:54] tritao commented on #493
Closing, we're not supporting these old Mono versions, just upgrade to latest ones.

[2017-09-06 21:54] #493 closed

[2017-09-06 23:02] realvictorprm commented on #493
Thanks, it's fine as long as we know now that it definitely isn't supported.

[2017-09-07 15:05] equinox2k commented on #504
@jonathanpeppers

Just a small update I tried adding FormsViewGroup to the AfterBuild command so that it is now...

`mono ../packages/Embeddinator-4000.0.2.0.80/tools/Embeddinator-4000.exe --gen=Java --platform=Android --outdir=${ProjectDir}/output --compile --debug --target=static ${TargetPath} ${TargetDir}/FormsViewGroup.dll`

The error has changed slightly now to...

aused by: android.runtime.J

[2017-09-08 03:23] Zomb opened #505 "Check if Mono SDK is not installed and improve path lookup"
When I use the e4k nuget package in vs2017, I am getting the following error:

[code]

I saw a separate issue with this error, related to iOS. I attempted to run e4k from source but ran into the following error:

[code]

Any thing I can try to get this to work?

[2017-09-08 13:22] tritao commented on #505
Could you try using the version from master? There's a bunch of Windows fixes that are not in the Nuget yet.

And please post the command line arguments when posting these errors so we can have an idea which modes you're trying to use.

Can you explain the second error, I didn't understand if it's related to iOS or Android, and on which platforms. Is this still on Windows?

[2017-09-08 14:29] Zomb commented on #505
These are the steps I followed for the second error:

1. Cloned master and sub-modules with
`git clone https://github.com/mono/Embeddinator-4000.git --recursive`
2. Opened the solution in VS2017 and built the Embeddinator-4000 project
3. From the debug directory ran the following command:
`Embeddinator-4000.exe f:\git\pv\library\HS\HIALib.Android\bin\Debug\HIALibAndroid.dll --gen=Java --platform=A

[2017-09-08 14:37] tritao commented on #505
I see.

Can you try running `./build.ps1 -t Download-Xamarin-Android` from Powershell?

[2017-09-08 15:15] Zomb commented on #505
New steps:

1. Fresh Clone of the repository
2. Ran the command above in PowerShell
3. Open solution in VS2017 and build
4. Running the command above in both PowerShell and CMD resulted in the same exception

[code]

[2017-09-08 16:03] tritao commented on #505
Hmm, do you have Xamarin.Android installed on your VS 2017 instance?

[2017-09-08 16:05] tritao commented on #505
If you have this under VS, then it would be nice if you can help debug the issue.

We setup the `Mono.Android.dll` directory to the parser here: https://github.com/mono/Embeddinator-4000/blob/master/binder/Driver.cs#L62

Can you put a breakpoint in there and try to check the values returned by `XamarinAndroid.TargetFrameworkDirectories`?

[2017-09-08 17:55] tritao commented on #498
We now have Linux CI, builds take ~3 minutes and start right away.

So now its possible to have fast feedback, but unfortunately macOS CI builds are now taking longer than ever. I'll need to investigate a solution to it in the future.

[2017-09-08 17:55] #498 closed

[2017-09-08 19:36] Zomb commented on #505
I see a couple of things that appear to be happening:

1. In e4k external I don't have a Xamarin.Android, so the very first check fails.

2. Next in GetMonoDroidPath we check for the lib folder:
[code]
This check always fails, because its checking for a File, but lib is a directory.

3. The Path from here is used to create targetFrameworks, which is looking for a folder called "xbuild-frameworks"

[2017-09-08 20:23] jonathanpeppers commented on #504
@equinox2k can you try the update they put on NuGet today? 0.3.0

Sorry, I've not been able to try out your sample project yet.

[2017-09-09 00:26] Zomb commented on #505
FWIW, here is the output when I use the 0.3.0 nuget package.

[2017-09-09 00:29] tritao commented on #505
Can you paste the output with `-verbose` flag?

[2017-09-09 01:09] tritao commented on #505
Do you have this folder `C:\Program Files (x86)\Mono\include\mono-2.0`?

If not, you might need to install the Mono SDK for Windows

[2017-09-09 01:14] Zomb commented on #505
I don't have it, I assume I have to install the 32-bit version?

[2017-09-09 01:16] jonathanpeppers commented on #505
Yeah 32 bit, I tried to see if there was a way to get by without installing Mono, but Xamarin.Android doesn't ship the Mono headers (b/c they don't need them).

[2017-09-09 01:26] Zomb commented on #505
Yup, that fixed it! Could we add it to the documentation perhaps? Thank you!

[2017-09-09 01:28] jonathanpeppers commented on #505
It does say it at the top here: https://mono.github.io/Embeddinator-4000/getting-started-java

But there isn't anything saying: if you get error X do Y.

Maybe a _Troubleshooting Guide_ is in order?

[2017-09-09 01:36] Zomb commented on #505
Maybe! I tend to assume mono components are the same as Xamarin, which I really should not be doing, especially when you called out Xamarin.Android later on the page.

[2017-09-09 01:40] tritao commented on #505
I'll improve this in the driver next week so we issue a proper error for this

[2017-09-09 15:12] tritao commented on #19
Think this one is solved now

[2017-09-09 15:12] #19 closed

[2017-09-09 15:13] tritao commented on #5
Done

[2017-09-09 15:13] #5 closed

[2017-09-09 15:15] #20 closed

[2017-09-09 15:15] tritao commented on #43
We got APIs for this now in the runtime

[2017-09-09 15:15] #43 closed

[2017-09-09 15:16] tritao commented on #6
This one should be fixed now

[2017-09-09 15:16] #6 closed

[2017-09-09 15:17] #163 closed

[2017-09-09 17:37] equinox2k commented on #504
@jonathanpeppers tried the latest 0.3.0 but still same issue... :(

[2017-09-09 19:13] realvictorprm commented on #163
Thanks @tritao forgot to close this one

[2017-09-11 19:00] tritao commented on #505
Will be fixed with https://github.com/mono/Embeddinator-4000/pull/506

[2017-09-11 19:00] #505 closed

[2017-09-11 19:33] equinox2k commented on #504
@jonathanpeppers I made mistake when trying 0.3.0, I forgot to change path of my build step so was still pointing to old version. I have retested and works fine :). Now closing case...

[2017-09-11 19:33] #504 closed

[2017-09-13 14:41] realvictorprm commented on #502
fixed and closed via #503

[2017-09-13 14:41] #502 closed

[2017-09-13 15:25] shobhakartiwari opened #509 "error EM0009: The feature Returning type TextReader from native code is not currently supported by the tool"
error EM0009: The feature Returning type TextReader from native code is not currently supported by the tool

[2017-09-19 15:18] equinox2k opened #510 "Cant compile application using embeddinator created framework using Xcode 9 GM"
Trying to compile application using Xcode 9 GM that has a embeddinator created framework, however I get the following error (Project still compiles in Xcode 8)

In file included from /Users/petertribe/Documents/Git/PNI.Mobile.Xamarin.Research/PNI.Mobile.iOSWrapper/PNI.Mobile.Library.iOS.framework/Headers/PNI.Mobile.Library.iOS.h:10:
/Users/petertribe/Documents/Git/PNI.Mobile.Xamarin.Research/PNI.M

[2017-09-20 23:53] equinox2k opened #511 "Is it possible to get objcgen to generate a module style framework?"
Hi,

Is it possible to get objcgen to generate a module style framework?

i.e. with a module map file so that it can be imported into a swift application?

[2017-09-21 13:35] chliebel opened #512 "[Android] Couldn't find "libmonodroid.so""
I tried the Android getting started guide in combination with an *already existing* Android Studio project.

- I compiled my existing .NET code using Embeddinator and the "-c" flag to an AAR
- I added the AAR module to my existing project and referenced it
- I disabled assembly compression as the guide states it
- I enabled Java 1.8 and the deprecated Jack toolchain as the guide states it (althoug

[2017-09-21 13:41] Zomb commented on #512
We have been using Android Studio 3.0 and e4k without the Jack toolchain successfully so far. What error do you get when you don't use the Jack toolchain?

[2017-09-21 13:43] chliebel commented on #512
I’m on Android Studio 3.0 Beta 6. If I remove `jackOptions.enabled true`, Gradle says:

Error:Jack is required to support java 8 language features. Either enable Jack or remove sourceCompatibility JavaVersion.VERSION_1_8.

[2017-09-21 13:44] Zomb commented on #512
You can remove sourceCompatibility JavaVersion.VERSION_1_8. I don't have it in my build.gradle for 3.0

[2017-09-21 13:51] chliebel commented on #512
When I do that, the library created with Embeddinator isn’t recognized anymore (_error: package xyz does not exist_). But this could also be related to my project setup; the actual problem is that libmonodroid.so can’t be found during runtime.

[2017-09-21 13:56] Zomb commented on #512
And you have noCompress in your gradle?

[2017-09-21 13:57] equinox2k commented on #510
I should mention removing QuartzCore inmport enables app to compile and appear to work

[2017-09-21 13:58] equinox2k opened #513 "BitCode support for objcgen"
Is it possible to have a flag to enable or disable bitcode enabled framework at moment bit code is disabled

[2017-09-21 14:06] jonathanpeppers commented on #512
@chliebel it does sound like there is something going wrong here, maybe a couple things would help us figure it out.

1. You are using the NuGet version? or compiling from source?
1. We need to probably inspect the contents of your generated AAR file.

One thing I commonly do is run this command:
[code]
It should list every file.

Next, uncompress the AAR (it's just a zip file) and post the conten

[2017-09-21 20:42] equinox2k commented on #510
Looks like installing

Xamarin.iOS 10.99.8.24 fixed issue.

https://releases.xamarin.com/preview-xcode-9-gm-ios-11-support-preview-9/

[2017-09-21 20:44] equinox2k commented on #510
Correction it fixed the compilation issue but #import <QuartzCore/CAEmitterBehavior.h> is still in header of framework as originally mentioned

[2017-09-21 21:41] nolanblew opened #515 "Generating on Non-Xamarin Projects"
Is there a specific requirement for the Embeddinator to generatore on only Xamarin projects? It seems to crash every time when processing a library that was not Xamarin. I get:
[code]

With the version of `System.Runtime` being different depending on the target type. This occurs when attempting to gen a .NET Standard dll (1.2, 1.4, 1.6, and 2.0) as well as .NET Core (1.0 and 1.1) and .NET 4.5 port

[2017-09-21 21:47] tritao commented on #515
Hey Nolan,

This seems like a bug, can you attach an example of such an assembly? I'll take a look.

[2017-09-21 21:52] nolanblew commented on #515
Sure. Here is a simple weather API that I created using .NET Standard 1.4.

[MyWeatherApi.zip](https://github.com/mono/Embeddinator-4000/files/1322838/MyWeatherApi.zip)

[2017-09-21 22:23] equinox2k commented on #513
Ive created a pull request as noticed all platforms have bitcode apart from iOS

https://github.com/mono/Embeddinator-4000/pull/514

[2017-09-21 22:25] equinox2k commented on #511
See http://nsomar.com/modular-framework-creating-and-using-them/

[2017-09-22 18:30] shobhakartiwari opened #516 "On Device , its having some issue , but on simulator its working ."
Successfully implemented in Swift , and its working fine in Simulator but on iPhone Device it having few issue related to build index ?

is there any dependency on device for mono or other framework ?

Looking for some help .

Thanks

[2017-09-24 22:43] #510 closed

[2017-10-03 07:27] tomerdomshlak opened #517 "mono/jit/jit.h: No such file or directory"
Hi,

After installing the latest version with nuget,
I'm trying to compile the generated code with the following command:

./Embeddinator-4000.exe --gen=Java --platform=Android -c *filePath*

it results in the following error:

[code]

Any help please???
Thanks.

[2017-10-03 08:52] tritao commented on #517
Is this on Windows or Mac?

[2017-10-03 09:15] realvictorprm commented on #517
The question might be simple but effective .. Do you have Mono installed?

[2017-10-03 09:40] tomerdomshlak commented on #517
It's on Windows.

Mono is installed, and the "missing" file exists under the path:

"C:\Program Files\Mono\include\mono-2.0\mono\jit\jit.h"

Looking at the source code, I see that it searches under the path "C:\Program Files\Mono".

[2017-10-03 11:59] tritao commented on #517
Can you run with the verbose flag and paste here the entire output?

[2017-10-03 12:26] tomerdomshlak commented on #517
`PS *hidden*\Embeddinator-4000.0.3.0\tools> ./Embeddinator-4000.exe --gen=Java --platform=Android -c -v "*hidden*.dll"
Parsing assemblies...
      Key HKCU\SOFTWARE\Novell\Mono for Android\AndroidSdkDirectory not found.
      Key HKCU\SOFTWARE\Novell\Mono for Android\AndroidNdkDirectory not found.
      Key HKCU\SOFTWARE\Novell\Mono for Android\JavaSdkDirectory not found.
    Looking for Android S

[2017-10-03 13:30] tritao commented on #517
Thanks, I believe the fix I linked above should deal with this, so please give it a try with master.

If it still fails, then feel free to re-open and I'll take a further look.

[2017-10-03 13:30] #517 closed

[2017-10-03 14:11] tomerdomshlak opened #518 ".NET Standard 2.0 support (FileNotFound exception)"
Hi,

I've tried to compile the latest version on Windows with those steps:

1. clone the repository.
2. run "git submodule update --init --recursive".
3. open the solution.
4. restore nuget packages.
5. build.

I'm having the following compilation errors:

![image](https://user-images.githubusercontent.com/20470843/31129649-e388ed3e-a85d-11e7-893d-e9073a9d9f79.png)

Any clue what I'm doing wrong?

[2017-10-03 14:23] tritao commented on #518
Can you try calling building with our `./build.ps1` script?

[2017-10-03 14:41] tomerdomshlak commented on #518
Hi,

Thanks.

I've run ./build.ps1 and it completed successfully.

Then, I've entered the solution and tried to build it.

All projects compiled successfully besides "managed-macos-full", "managed-macos-system", "objcgentest" and "objcgen".

I've unloaded those projects (as I'm trying to compile an Android AAR), and the solution compiled successfully.

Then, I've navigated to "Embeddinator-4000\bu

[2017-10-03 15:28] equinox2k opened #519 "Android: calling Embeddinator'ed dll function in background thread causes crash"
I have a simple method that returns "Hello World"

[code]

Calling in ui thread works however doing...

[code]

Causes crash

[code]

[2017-10-03 15:31] Zomb commented on #519
I have run into this issue before, please check issue #439

[2017-10-03 16:30] equinox2k commented on #519
@Zomb works perfectly thanks so much for quick reply...

I did a quick hack class for anything I export so for android is based from Java.Lang.Object or without for iOS

[code]

[2017-10-03 16:51] tritao commented on #518
Looks to be some issue related to loading this `netstandard.dll` file... I assume it's related to .NET Standard 2.0 assemblies. I will need to check this.

[2017-10-03 16:55] tomerdomshlak commented on #518
Awesome.

BTW,

![image](https://user-images.githubusercontent.com/20470843/31137740-c6a8ad96-a874-11e7-81d2-26d4651f9dc2.png)

This is on the same DLL only .NET Standard 1.6.

[2017-10-04 00:05] zgramana opened #520 "[objc] Extract & link embedded libs"
## Scenario
I have an assembly with an embedded native iOS static lib (I can confirm this by extracting it using `monodis -mresources`). I then run `objcgen` and embed the resulting `.framework` in an Xcode-based example app.

## Observed
The resulting `.framework` is missing the symbols which are defined in the embedded static lib, resulting in P/Invoke entry-point failures. I then have to manual

[2017-10-04 01:29] zgramana opened #521 "[objc] Enable "-sim" builds to not force symbols to be undefined"
## Scenario
I have a static fat lib linked against a Xamarin.iOS managed lib. Run `objcgen` against it.

## Observed
`objcgen` successfully outputs a `.framework` linked against the `iPhoneOS` SDK. Fails to build a `.framework` against `iPhoneSimulator` on the final link step when it forces external symbols to be undefined (not done during the `iPhoneOS` final link step).

## Expected
`objcgen` to

[2017-10-06 03:30] equinox2k opened #522 "FeatureRequest: Native side call back on UnhandledException"
Was thinking would be good to have a feature where on Native side when a UnhandledException C# Exception occurs you can invoke a native side callback.

Thus you can integrate error logging easily with existing apps such as Crashlytics

[2017-10-06 09:24] tritao commented on #522
Good idea, I'll take a look into adding this.

[2017-10-06 13:25] Zomb opened #523 "[Android] error with arrays as arguments"
If I use an array as an argument for a C# method, for example:

[code]
or

[code]
e4k completes successfully and generates the aar. Once I include it in my AS project and run the app, I get the following exception. I am using primitives as my type, so I am not sure what is causing the issue.

[2017-10-06 13:27] tritao commented on #523
Hey, arrays are still not supported in Java. It's the next feature to be supported (PR https://github.com/mono/Embeddinator-4000/pull/508).

[2017-10-06 13:30] Zomb commented on #523
Great! My current workaround for anyone else who runs into this right now is convert the array into a Base64String and back again.

`var fromBase64String = Convert.FromBase64String(data);`

[2017-10-06 13:36] tritao commented on #523
Actually, looking again at the stack trace, this error seems related to arrays in Java.Lang.Object derived types, right? If that's the case, then my PR only implements support for non-Java.Lang.Object derived C# types.

[2017-10-06 13:45] equinox2k commented on #522
@tritao that would be great. Without it, its a blocker for us deploying application as currently unable to see user crashes.

[2017-10-06 13:50] Zomb commented on #523
Yes, the C# class that contains this derives from Java.Lang.Object because it needs to run on a background thread, and that's the only way to make that work according to @jonathanpeppers as documented in #439. Would this be a bug then? Or a new feature request?

[2017-10-06 13:54] tritao commented on #523
I changed the title to track the issue more accurately. Not sure when this might be fixed though because it's not a limitation of Embeddinator generator itself but of the interop generator from Xamarin.Android.

[2017-10-06 14:01] Zomb commented on #523
Okay! In the change that you made, you said 'non-primitive array types' but I am running into the issue when my array is of type byte or int. I haven't tried using non-primitive types in an array.

[2017-10-06 14:15] tritao commented on #523
I was going through the exception message in the trace you posted: `Only primitive types and IJavaObject is supported in array type in callback method parameter or return value`.

[2017-10-06 14:44] Zomb commented on #523
Yes, it says primitive types are allowed, but when I use a primitive type it errors out, and I was not sure why.

[2017-10-06 15:53] jonathanpeppers commented on #523
@Zomb I'll try this out next week and write a test for it. I vaguely remember seeing something that was fixed in this area in Xamarin.Android.

So updating Xamarin.Android might fix it:
* We could update to Xamarin.Android 15-4 branch (equivalent of preview or beta of VS)
* We are getting really close to 15-4 hitting stable anyway, so dropping the `external/Xamarin.Android` folder completely would

[2017-10-18 17:23] Zomb opened #524 "Powershell script failing when building from source"
I am using the ./build.ps1 script to build e4k from source. Its currently failing on clean build, with the error

I believe the issue is because the cake nuget package in .cake is set to 'Cake.0.22.0-alpha0095' which doesn't appear to exist any more. I updated this to 0.23.0 and was able to proceed, with the download. I would submit this as a pull request except that once the whole download is com

[2017-10-18 19:02] tritao commented on #524
Can you try building it from a command line to check see the build output?

I've issued a new build on our Windows CI bot meanwhile.

[2017-10-18 21:11] Zomb commented on #524
If I run msbuild Embeddinator-4000 or a clean copy of the repo, it fails on the test projects. If I open the solution in VS 2017 and just build the e4k project, it build fine, but it fails when I run it, with the exception (seen below) that it can't find Mono.Android, which I assumed was because it was missing the component that the powershell script normally downloads.

[2017-10-25 22:55] tritao opened #526 "[c] Support targeting Mono 64-bits on Windows"
As reported by @chambm: https://gitter.im/managed-interop/Lobby?at=59f0c7bb0182fa5f4d78aef8

[2017-10-26 16:03] tritao commented on #524
Could you try again? Not sure what to do here, since it works for me and on the CI server.

[2017-10-27 12:50] kaserdan opened #528 "[Android] Can't compile on macOS."
It's just plain library and still I can't get the car package. Am I missing something?

mono Projects/microwork/packages/Embeddinator-4000.0.3.0/tools/Embeddinator-4000.exe --gen=Java --platform=Android --outdir='/Users/nikolaj/Projects/microwork/output' -c ./Projects/microwork/Microwork.Droid.Embeddinator/bin/Debug/Microwork.Droid.Embeddinator.dll

result:
[code]

[2017-10-27 13:08] jonathanpeppers commented on #528
It looks like E4K is having trouble finding your Android SDK or NDK, can you check that you have them both installed? (and maybe see if they need any updates)

[This code](https://github.com/mono/Embeddinator-4000/blob/master/binder/Utils/XamarinAndroid.cs#L102) changed recently on master, so you could also try building E4K [from source](https://github.com/mono/Embeddinator-4000/blob/master/docs/C

[2017-10-28 09:39] kaserdan commented on #528
Thank you :+1: , E4K build from master branch seems to work. But now I have different issue:

`
Type 'Android.Support.V4.App.JobIntentService/JobServiceEngineImpl' implements Android.Runtime.IJavaObject but does not inherit from Java.Lang.Object. It is not supported.
`
But that's probably different story

[2017-10-28 09:41] #528 closed

[2017-10-28 13:26] jonathanpeppers commented on #528
Great, glad that fixed it.

Don’t use IJavaObject, subclass Java.Lang.Object instead. That is a new error message they added.

[2017-10-30 08:14] kaserdan opened #530 "[Android] Embeddinator build fails while generating Java stubs"
I have a project set as an android library. Using this project for android application in Xamarin.Android works just fine and everything builds successfully. But I can't get the .aar file using E4k build from master branch. I am getting the following error while generating Java stubs:

`
/Users/UserName/Projects/projectName/output/GenerateJavaStubs.proj(18,5): error MSB4044: The "ResolveLibraryPro

[2017-10-30 09:09] jasin755 opened #531 "[Android] MonoAndroidToolsPath path is not found"
After update to VisualStudio for Mac 8.1.xxx I got this error:

[code]

[2017-10-30 11:55] tritao commented on #530
@jonathanpeppers Any idea about this one?

@kaserdan Do you get the same issue if you use the 0.3 release?

[2017-10-30 11:59] tritao commented on #531
You mean after you upgraded to Xamarin.Android 8.1 right?

I can only find VS for Mac up to 7.3 in alpha channel.

[2017-10-30 12:00] tritao commented on #530
Also what is your installed Xamarin.Android version?

[2017-10-30 12:05] jasin755 commented on #531
Yes,  Xamarin.Android 8.1 from beta channel.

[2017-10-30 13:12] jonathanpeppers commented on #530
So if Embeddinator is trying to use your system-installed Xamarin.Android, there are some versions where MSBuild tasks have changed. (I'm looking into a way to replace some tasks or mitigate this)

After you checked out Embeddinator's source, did you run?
[code]
It should install a version of Xamarin.Android in  `external/Xamarin.Android` that will work, otherwise it falls back to your system's Xa

[2017-10-30 13:14] jonathanpeppers commented on #531
I'll try this and see what I find, thanks.

@jasin755 are you using Embeddinator from NuGet or building it from source?

[2017-10-30 13:15] kaserdan commented on #530
With  0.3.0 release I got to the point beyond generating Java stubs. Now it seems that I have some kind of problem with MvvmCross, so it's probably not related to E4K. I will try to stick to version 0.3.0.

[2017-10-30 13:24] jonathanpeppers commented on #530
@kaserdan does it look like you have a copy of Xamarin.Android downloaded to `external/Xamarin.Android`, or do you think it was using your system one?

[2017-10-30 13:27] kaserdan commented on #530
The system one. I will givie it another try with the build command you suggested.

[2017-10-30 13:45] jasin755 commented on #531
I am using E4k from nugget and source with same error.

[2017-10-30 13:46] kaserdan commented on #530
I go the same error as for version 0.3.0:

`
/Users/userName/Projects/ProjectName/output/src/md56fff8ae98a57a2dfbbadfff8b162d778/MvxAndroidApplication.java:28: error: cannot find symbol
mono.MonoPackageManager.setContext (this);
^
symbol: method setContext(MvxAndroidApplication)
location: class MonoPackageManager
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:

[2017-10-30 13:55] jonathanpeppers commented on #530
Ok, I see.

I guess MvvmCross calls this method?

[code]

https://github.com/xamarin/xamarin-android/blob/master/src/Xamarin.Android.Build.Tasks/Resources/MonoPackageManager.java#L73

E4K has its own MonoPackageManager: https://github.com/mono/Embeddinator-4000/blob/master/support/java/android/MonoPackageManager.java

If you are building from source, add this method to your copy of E4K. I will sen

[2017-10-30 14:39] kaserdan commented on #530
That actually worked, thank you :-)

But I still didn't get successfull build:

`
    Invoking: /Library/Java/JavaVirtualMachines/jdk1.8.0_144.jdk/Contents/Home/bin/jar cf /Users/nikolajpognerebko/Projects/Microwork/output/Microwork.Droid.jar -C /Users/nikolajpognerebko/Projects/Microwork/output/classes .
    Linking assemblies...
    Invoking: /Library/Frameworks/Mono.framework/Versions/Current/C

[2017-10-30 15:28] jonathanpeppers commented on #530
Ok, looking at your new issue now.

@kaserdan can you post a copy of your `package.config`, maybe I can try using the same packages in our test projects? A sample project would be even better.

[2017-10-30 15:38] kaserdan commented on #530
[Microwork.zip](https://github.com/mono/Embeddinator-4000/files/1427775/Microwork.zip)
 It's the project `Microwork.Droid`

[2017-10-30 20:49] jonathanpeppers commented on #531
Hi @jasin755, I tried the beta channel and it is working for me.

It looks like Embeddinator starts from the directory where `Embeddinator-4000.exe` is found and looks upward, looking for `external/Xamarin.Android`.

Relevant code [here ](https://github.com/mono/Embeddinator-4000/blob/master/binder/Utils/XamarinAndroid.cs#L44)and [here](https://github.com/mono/Embeddinator-4000/blob/master/binder/

[2017-10-31 01:34] jonathanpeppers commented on #530
Ok, so it looks like the issue here is you are using the Support Libraries v26 and TargetFrameworkVersion v8.0.

The bundled version of Xamarin.Android only goes up to TargetFrameworkVersion v7.1, it was prior to API O support. You can try using v7.0 or v7.1, and see if that gets you going. You will have to downgrade the support libraries to 25.x.

I think some changes have to be made to get your

[2017-10-31 10:22] kaserdan commented on #530
Thank you, I finally got .aar package successfully, so I would consider this issue as solved.

But 50% of builds will still fail for some reason. It has something to do with android resources:

[code]

It's not really deterministic.

[2017-10-31 12:49] jasin755 commented on #530
I have a some problem but change of successful build is 5% not 50% :(

[2017-10-31 22:40] equinox2k commented on #531
Been having same issue tried all sorts by trying to set working directory...

it looks like from first glance...

public static void Refresh (string runtimePath = null, string binPath = null, string bclPath = null)

(being called with Refresh())

which calls sdk.Initialize (runtimePath, binPath, bclPath);

which then uses FindRuntime is not using the working directory as a search path

e..g 		read

[2017-10-31 22:41] equinox2k opened #534 "[ObjC] objcgen for Mac says Xamarin.Mac not found..."
[code]

[2017-10-31 23:27] equinox2k commented on #534
Update: found out had to set target to macosmodern rather than macOS

[2017-11-01 03:41] jonathanpeppers commented on #531
The `external/Xamarin.Android` directory _was_ a temporary solution until Xamarin.Android 8.0 hit stable. I'm going to focus on just getting rid of it and using your system's Xamarin.Android, but it might take a little while.

@equinox2k can you send a zip of your project that reproduces it not finding `external/Xamarin.Android`? The short of it is that it should not even be hitting `MonoDroidSdk.

[2017-11-01 04:13] jonathanpeppers commented on #530
@kaserdan one thing you can try here is to run `msbuild` again when you've hit the error.

[code]

It should give you a `msbuild.binlog` file you can post here. You can view it on Windows with the [MSBuild log viewer](http://msbuildlog.com/). It might be helpful to compare one that works, versus not.

The original project you send above I wasn't able to build. Fody was not finding the PropertyChan

[2017-11-01 05:49] equinox2k commented on #531
@jonathanpeppers

Here is a very simple project that shows problem...
https://www.dropbox.com/s/xrku8ygk33myito/Repro.zip?dl=0

Open solution and build PNI.Photo.Library.Embedded.Droid this should start off the embeddinator process with error as above.

FYI visual studio 7.3 preview build 708 (beta channel)

[2017-11-02 02:36] jonathanpeppers commented on #531
@equinox2k I got your sample to work by changing the following:
- `TargetFrameworkVersion` has to be 7.1 or lower (the bundled Xamarin.Android does not have API O support)
- `AndroidUseLatestPlatformSdk` should be `False`, or it will make the project 8.0
- I replaced the Embeddinator 0.3.0 from NuGet with the latest I built on master

Here is your fixed project: https://www.dropbox.com/s/s0z5rmww8

[2017-11-02 16:54] equinox2k commented on #531
@jonathanpeppers got it working now thanks for your help

[2017-11-02 17:06] equinox2k opened #535 "[ObjC] Using embedded framework in MacOS app causes image not found error..."
Getting the error...

[code]

However I have ensured I have embedded framework using copy rule. I did a quick experiment and changed "@loader_path/../Frameworks" to "@loader_path/Frameworks" using install_name_tool and error went away however dll's needed by app could not be found.

I wondering if the output from doing the following works..?

objcgen.exe --debug --platform=macosmodern --abi=x86_64

[2017-11-02 17:08] jonathanpeppers commented on #531
@jasin755 closing this, as I think it is fixed on master. A new release is probably due soon, but I don't know the details of when that will be.

Feel free to reopen, if you find something else.

[2017-11-02 17:08] #531 closed

[2017-11-04 00:37] chliebel commented on #512
@tritao @jonathanpeppers Thanks for your responses.

@jonathanpeppers It’s a specific (existing) .NET Core project I’d like to port.

@tritao I _can’t reproduce_ the error message noted above when I use the current master branch or the latest NuGet package. However, I’m facing another problem now: The app completely crashes without any error message. But I guess that’s up to further research.

[2017-11-04 00:37] #512 closed

[2017-11-07 01:13] jahmai commented on #518
This project is really exciting but this issue is a blocker for it being useful for us. +1!

[2017-11-07 12:25] tritao commented on #518
I'm trying to reproduce this, but so far cannot do it on macOS with Mono 5.4, either for .NET Standard 1.6 or 2.0. It might be a Windows-only issue.

[2017-11-07 19:23] equinox2k opened #539 "Embeddinating a Mac dll as shared library causes following error..."
Embeddinating a Mac dll as shared library causes following error...

[code]

[2017-11-08 22:20] #405 closed

[2017-11-10 11:23] tritao commented on #519
Duplicated issue.

[2017-11-10 11:23] #519 closed

[2017-11-10 11:24] #513 closed

[2017-11-10 11:25] tritao commented on #515
Related to .NET Standard, we're already tracking on another issue.

[2017-11-10 11:25] #515 closed

[2017-11-10 17:05] Shayon commented on #515
@tritao Can you link to this other issue that is related to .NET Standard 1.4 support? Or is it this issue? https://github.com/mono/Embeddinator-4000/issues/518 Is Embeddinator only planning on supporting Standard 2.0?

[2017-11-10 18:28] tritao commented on #515
Yes that is the issue, we will support all .NET Standard versions.

[2017-11-14 23:26] equinox2k opened #543 "Embedding a library using PHAsset etc causes dupes for Mac"
Note: using latest beta of Visual Studio for Mac

Example segment of header created...

[code]

From a method like...

[code]

Xcode reports duplicate definitions of each of the

PHObject;
PHAsset;
PHFetchOptions;
PHFetchResult;
PHImageManager;
PHImageRequestOptions;

[2017-11-21 17:27] chambm opened #545 "[c] No ArgumentNullException from GenerateArrayTypes.CheckArrayType"
Running with latest master, `1c69e02fc092c246e919ddb8bc658fb55ec20202`, I reduced it to the simplest case:
[code]

The command I ran:
**Embeddinator-4000.exe --gen=c --out=managed_c --platform=windows --compile --vs=2015 LibTest.dll**

[2017-11-21 17:46] tritao commented on #545
Thanks for the reduced test case, I'll check this.

[2017-11-24 11:28] simontocknell opened #546 "[Android] Activity class removed from created .aar file"
When I have a property, or a method using the Activity type, and create a .aar file from this. The properties and methods just don't exist in the created .aar file.

[code]

So getters and setters would be created for Endpoint and IsSharing, but Activity doesn't exist.

[2017-11-24 15:02] yasirmturk opened #548 "Could not compile in C for iOS"
$ mono build/lib/Release/Embeddinator-4000.exe --gen=c --outdir=output --compile /Users/punchee/Documents/teo/projects/exformatics/src/DCRGraphsNet/Engine/Core/bin/Debug/Core.dll --platform=iOS
Parsing assemblies...
    Parsed 'Core.dll'
Processing assemblies...
Generating binding code...
    Generated: Core.h
    Generated: Core.c
    Generated: mscorlib.h
    Generated: mscorlib.c
    Generated:

[2017-11-24 15:21] yasirmturk opened #549 "[ObjC] FSharp binding fails in most basic cases"
$ mono objcgen/bin/Debug/objcgen.exe --platform=iOS --target=framework --outdir=output -c --debug /Users/punchee/Documents/teo/projects/exformatics/src/DCRGraphsNet/Engine/Core/bin/Debug/FSharp.Core.dll
Parsing assemblies...
	Parsed '/Users/punchee/Documents/teo/projects/exformatics/src/DCRGraphsNet/Engine/Core/bin/Debug/FSharp.Core.dll'
Processing assemblies...
EM0000: Unexpected error - Please f

[2017-11-24 15:31] yasirmturk opened #550 "[Java] String error in Java for Android"
github/Embeddinator-4000/output/core/Step.java:64: error: toString() in Step cannot override toString() in Object
    public String toString() {
                  ^
  return type core.String is not compatible with java.lang.String

[2017-11-27 10:31] simontocknell commented on #546
This also happens if there is a method that accepts Activity as a parameter. It just doesn't create the method at all.

[2017-11-28 14:22] #550 closed

[2017-11-28 15:24] tritao commented on #546
I think this is because we ignore any type from `Mono.Android.dll` in regular classes. Can you try the same but with a class that inherits from `java.lang.Object`?

[2017-11-28 15:42] #545 closed

[2017-11-28 15:50] tritao commented on #458
This has been fixed.

[2017-11-28 15:50] #458 closed

[2017-11-28 15:50] tritao commented on #465
This has been fixed.

[2017-11-28 15:50] #465 closed

[2017-11-28 15:51] #524 closed

[2017-11-29 13:12] simontocknell commented on #546
Made a 'Test' class inheriting from Java.Lang.Object and a property using the class and a method using the class were both not created in the .aar file.

[2017-11-29 14:25] jonathanpeppers commented on #546
@simontocknell it worked for me when I added a test: https://github.com/jonathanpeppers/Embeddinator-4000/commit/ce8f6d604686c09501cd2f1623a444f3dfb39123

Are you missing the `[Export]` and/or `[Register]` attributes?

Example here:
https://developer.xamarin.com/guides/cross-platform/dotnet-embedding/getting-started/java/android/#Current_Limitations_on_Android

[2017-12-04 17:57] tritao commented on #546
@jonathanpeppers added a test for this, re-open if still an issue.

[2017-12-04 17:58] #546 closed

[2017-12-05 16:24] ysmoradi opened #554 "Android|Java -c compile error"
After running mono Embeddinator-4000.exe "path to some xamarin forms based dll" -gen=Java -p=Android -o="some folder" -c
I receive following exceptions:

 **Failed to read .. dll with debugging symbols. Retrying to load it without it.**

warning: unknown enum constant Scope.LIBRARY_GROUP
  reason: class file for android.support.annotation.RestrictTo$Scope not found

**src\mono\android\support\v7\w

[2017-12-05 16:28] jonathanpeppers commented on #554
Hi @ysmoradi,

A couple questions to help figure this out:
* Are you using NuGet or building Embeddinator from source?
* Can you share your `packages.config` or your project?

One thing to check is that you aren't using anything API 26+ (such as support libraries v26.x). The current release on NuGet does not support those.

[2017-12-05 16:53] ysmoradi commented on #554
I've downloaded Embeddinator's nuget package, then I ran command in "embeddinator-4000.0.3.0/tools" folder.

My projects is a xamarin android library which contains "xamarin forms content page" which has simple controls such as stack layout, entry, button and label. In my xamarin.android app, I'm converting that content page to fragment. It's working fine.

I'd like to use my fragment in Java-Andr

[2017-12-05 16:54] ysmoradi commented on #554
I know such a simple codes relies on multiple assemblies with deep technical concepts. But could you please tell me how much you think it will increases the apk size of my java app? Thanks in advance.

[2017-12-05 17:01] jonathanpeppers commented on #554
Yeah, you have API 26 stuff in here, which is why you have the failure. I think we are due for a new release on NuGet, but I don't know when it will be yet.

You can either:
1. use `TargetFrameworkVersion` 7.1 and make sure all the support libraries are 25.x
1. add a submodule for Embeddinator in your repo, and build it from source. This will get you API 26 support that we have on master.

It will

[2017-12-05 17:24] ysmoradi commented on #554
Thanks so much. :) Does it link unused IL from assemblies?

[2017-12-05 17:25] jonathanpeppers commented on #554
Right now it will do the same thing as `Link SDK assemblies only`, just like a Xamarin.Android app.

[2017-12-05 17:26] tritao commented on #554
@ysmoradi We should be releasing a new version on Nuget soon, in case you don't want to go through the trouble of compiling master yourself.

[2017-12-05 18:43] ysmoradi commented on #554
Thanks so much. I'm waiting for the next release :)

[2017-12-05 18:43] #554 closed

[2017-12-11 19:31] equinox2k commented on #522
@tritao any updates on this as planning to go to production soon on one of our apps.

[2017-12-13 12:16] tritao commented on #522
Hey, I've started working on this feature.

[2017-12-14 17:20] #172 closed

[2017-12-14 17:29] #494 closed

[2017-12-14 17:29] #516 closed

[2017-12-14 17:34] tritao commented on #161
This should be fixed.

[2017-12-14 17:34] tritao commented on #161
This should be fixed.

[2017-12-14 17:34] #161 closed

[2017-12-14 17:57] nunosantosgit opened #557 "[ObjC] ld: framework not found Carbon"
**Embeddinating for objectiveC with command:** objcgen bin/debug/Nativo.PhotoBookSDK.iOS.dll --target=framework --platform=iOS --outdir=output --abi=arm64 -c -v --debug

(This dll references other dlls)

**Error:**
ld: framework not found Carbon
clang: error: linker command failed with exit code 1 (use -v to see invocation)

error MT5216: Native linking failed for '/Projects/PhotoBook/PhotoBookSDK

[2017-12-15 13:36] emysa341 opened #558 "The assembly mscorlib.dll was not found in Umbrella Framework iOS."
I have a C# sharp project, after embedination I get a nicely wrapped Objective-C framework. If I consume this project in any iOS application (Objective-C/Swift) works fine. If I try to consume this objective-c based framework nested inside a swift based framework -> Then in client application it results into dll not found errors

`Test Suite 'Selected tests' started at 2017-12-15 14:25:22.837
Test

[2017-12-15 17:29] #17 closed

[2017-12-19 04:36] tuyen-vuduc opened #559 "Unable to generate AAR/framework - objcgen/Embeddinator4000.0.3.0"
I have tried both the nuget package and objcgen on my own project or a sample from @jamesmontemagno.

I couldn't get  a iOS framework or a Android AAR file. I work on Mac with latest, stable VisualStudio by now.

[code]

[2017-12-19 13:55] jsonsugar commented on #559
我和你遇到一样的问题

[2017-12-20 00:56] tritao commented on #559
Hey, this should be solved with latest release 0.4.0, but we've not been able to publish the NuGet yet. You can compile master for now.

[2017-12-20 00:56] #559 closed

[2017-12-20 07:31] tuyen-vuduc commented on #559
@tritao Do you have a guide to compile the master locally on a Mac? I tried but not successful.

[2017-12-28 08:07] emysa341 opened #560 "[ObjC] Warnings on System.DateTime not generated in Embeddinator version 0.4."
- In Embeddinator version 0.4, the **Objcgen** logs warnings that it cannot generate native counter parts, while the same behaviour works in version [0.2.0.79](https://dl.xamarin.com/embeddinator/Xamarin.Embeddinator-4000-0.2.0.79.pkg). Followings shows the warnings:

<img width="992" alt="1" src="https://user-images.githubusercontent.com/5163679/34404450-e48d614a-ebad-11e7-91fe-eb314e188ddb.png">

[2018-01-04 07:06] ShalokShalom commented on #13
Hi Victor :D

Nice to see you here.

@all

Cgo seems quite limiting, while its surely less work.

How much difference can the native Go implementation do? Is it truly worth the effort?

Which use cases are targeted?

Nice project :)

[2018-01-04 07:18] ShalokShalom commented on #232
We could ask @donsyme since he implemented Generics in C# :)

[2018-01-04 13:59] emysa341 commented on #439
I have a same issue, during Emebeddination process I am getting this Note: AndroidEmbeded.java uses unchecked or unsafe operations. Recompile with -Xlint:unchecked for details. However, my Embeddination is successfull and I am getting AAR file. In AAR file the AndroidEmbeded.java is accessble and I can create instance but Embedination do not generate any methods present in AndroidEmbeded.java.

[2018-01-05 14:55] roceh commented on #546
I'm having the same issue with both activity and a object inherited from java.lang.object, in verbose mode i get the following:

 Function 'ShowPickerDialog' was ignored due to ignored param

I note that when creating a test object inheriting from java.lang.object a java file is created for it and is compiled into the aar, but the function referencing it is not exported.

This was done with the cu

[2018-01-05 15:00] emysa341 opened #561 "Array of C# Enums not supported in ObjC Embeddination runs into Errors"
- I have a property with an array of C# flag enums, if I Embeddinate them then Embeddination runs into errors:
- My Enum
` [Flags]
public enum ModeOfTransportW
    {
        Bus = 0b1,
        Tram = 0b10,
        Train = 0b100,
    }`
- My property
` public class myClass
    {
        public ModeOfTransportW[] ModesOfTransport {get; set;}
    }`
- Embeddination
<img width="1589" alt="abc" src="ht

[2018-01-05 15:08] emysa341 commented on #561
The workaround is to use array of integers and casting enums to to intergers.

[2018-01-06 07:05] jonathanpeppers commented on #546
@roceh can you open a separate issue and provide some more details?

Such as:
- A snippet/example of your C# code
- The Java you that is getting generated
- Maybe copy/paste the exact error from Android Studio? Or maybe you have it above already.